<template>
  <div class="q-pa-md" style="max-width: 90rem;margin:0 auto">
    <div class="row q-mb-md q-col-gutter-md justify">
      <q-btn
        @click.stop=""
        v-go-back.single
        flat
        dense
        icon="arrow_back"
        color="secondary"
        size="sm"
      />
      <div style="position: relative;" class="text-h5">Licences</div>
    </div>
    <div
      style="position: relative;"
      class="row q-mb-lg q-col-gutter-md justify"
    >
      <div class="col">
        <q-breadcrumbs>
          <q-breadcrumbs-el to="/dashboard" label="Home" />
          <q-breadcrumbs-el label="Licences" />
        </q-breadcrumbs>
      </div>
    </div>

    <q-card>
      <q-card-section>
        <div class="row q-mb-md q-col-gutter-md q-mt-sm">
          <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
            <q-select
              @input="filterDistrict"
              rounded
              dense
              outlined
              v-model="district"
              :options="districts"
              label="Choose district"
            />
          </div>

          <q-space />

          <div
            class="col-lg-2 col-md-4 col-xs-12 col-sm-4"
            style="display:flex;"
          >
            <q-input
              outlined
              rounded
              dense
              color="teal"
              v-model="filter2"
              @keyup="setFilter()"
              border
              input-class="text-left"
              class="q-ml-md full-width"
              placeholder="Search here"
            >
              <template v-slot:prepend>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
        </div>
        <div class="">
          <div class="col col-lg-8">
            <q-dialog v-if="selected.length" v-model="edit2">
              <q-card>
                <q-card-section class="row items-center q-pb-none">
                  <div class="text-h6">Update lisence</div>
                  <q-space />
                  <q-btn icon="close" flat round dense v-close-popup />
                </q-card-section>

                <q-form
                  @submit.prevent="updateLisence(selected[0].applicant_id)"
                  class="q-gutter-md q-pa-lg"
                >
                  <q-input
                    color="secondary"
                    label="Name"
                    v-model="updateData.name"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="people" />
                    </template>
                  </q-input>

                  <q-input
                    color="secondary"
                    label="Village"
                    lazy-rules
                    v-model="updateData.village"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="holiday_village" />
                    </template>
                  </q-input>

                  <q-select
                    dense
                    outlined
                    :options="districts"
                    label="Choose district*"
                    lazy-rules
                    v-model="updateData.district"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    flat
                  >
                    <template v-slot:prepend>
                      <q-icon name="home" />
                    </template>
                  </q-select>

                  <q-input
                    color="secondary"
                    label="Contact"
                    v-model="updateData.contact"
                    :rules="[
                      val => (val && val.length == 10) || 'Maximum 10 digits'
                    ]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="call" />
                    </template>
                  </q-input>

                  <q-input
                    color="secondary"
                    label="lisence id"
                    :loading="false"
                    v-model="updateData.lisence_id"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                    <template v-slot:prepend>
                      <q-icon name="tag" />
                    </template>

                    <template v-slot:append>
                      <q-btn
                        @click="getRandomLisenceId"
                        round
                        dense
                        color="green"
                        flat
                        icon="sync"
                      />
                    </template>
                  </q-input>

                  <div>
                    <q-btn
                      label="Update"
                      class="full-width"
                      type="submit"
                      color="secondary"
                      :loading="loading2"
                    />
                  </div>
                </q-form>
              </q-card>
            </q-dialog>

            <q-dialog v-model="dialog" :position="position">
              <q-card>
                <q-markup-table>
                  <thead>
                    <tr>
                      <th class="text-left">Renewed on</th>
                      <th colspan="2" class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="renewal in renewals" :key="renewal.id">
                      <td class="text-left">{{ renewal.created_at }}</td>
                      <td class="text-right">
                        <q-btn
                          size="sm"
                          class="deleteBtn"
                          :to="{
                            path: '/update-renewal/' + renewal.id,
                            params: renewal.id
                          }"
                          dense
                          round
                        >
                          <q-icon color="green" name="edit" />
                        </q-btn>
                      </td>
                      <td class="text-right">
                        <q-btn
                          @click="setRenewalId(renewal.id)"
                          size="sm"
                          class="deleteBtn"
                          dense
                          round
                        >
                          <q-icon color="red-4" name="delete" />
                        </q-btn>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td class="text-left">( 12/04/2021 )</td>
                      <td class="text-right">
                        <q-btn dense round>
                          <q-icon color="green" name="edit" />
                        </q-btn>
                      </td>
                      <td class="text-right">
                        <q-btn dense round>
                          <q-icon color="red-4" name="delete" />
                        </q-btn>
                      </td>
                    </tr> -->
                  </tbody>
                </q-markup-table>
              </q-card>
            </q-dialog>

            <q-dialog v-model="dialog2">
              <q-card class="text-center">
                <embed :src="pdfFile" width="500" height="500"/>
              </q-card>
            </q-dialog>

            <q-dialog v-model="confirm">
              <q-card>
                <q-card-section class="row items-center">
                  <q-avatar
                    icon="warning"
                    color="secondary"
                    text-color="white"
                  />
                  <span class="q-ml-sm">Are you sure you want to delete ?</span>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancel" color="secondary" v-close-popup />
                  <q-btn
                    @click="deleteLisence(selected[0].applicant_id)"
                    label="Confirm"
                    color="red-5"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>

            <q-dialog v-model="confirm2">
              <q-card>
                <q-card-section class="row items-center">
                  <q-avatar
                    icon="warning"
                    color="secondary"
                    text-color="white"
                  />
                  <span class="q-ml-sm">Are you sure you want to delete ?</span>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancel" color="secondary" v-close-popup />
                  <q-btn
                    @click="deleteRenewal()"
                    label="Confirm"
                    color="red-5"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>

            <q-table
              color="primary"
              selection="multiple"
              :selected.sync="selected"
              :selected-rows-label="getSelectedString"
              :data="data"
              :columns="columns"
              row-key="name"
              :filter="filter"
              flat
            >
              <template v-slot:body-cell-status="props">
                <q-td :props="props">
                  <q-badge :color="props.value == 'active' ? 'green' : 'red'">
                    {{ props.value }}
                  </q-badge>
                </q-td>
              </template>
              <template v-slot:body-cell-file="props">
                <q-td :props="props">
                  <q-btn
                    flat
                    dense
                    @click="getExternalLink(props.value)"
                    icon="picture_as_pdf"
                    color="red"
                    size="sm"
                  />
                </q-td>
              </template>

              <template v-slot:body-cell-renewed="props">
                <q-td :props="props">
                  <div
                    @click="getRenewed(props.row.applicant_id)"
                    :style="
                      props.row.lisence_renewed > 0
                        ? 'cursor: pointer;color:#1976D2; font-weight:bold'
                        : 'pointer-events: none;'
                    "
                  >
                    {{ props.row.lisence_renewed }}
                  </div>
                </q-td>
              </template>

              <template v-slot:top-left>
                <div class="flex  flex-center">
                  <div class="q-mb-md col-xs-12 col-sm-4 ">
                    <q-btn
                      @click="toggleActive('allLicence')"
                      :label="'Licence ' + data.length"
                      icon="contact_page"
                      rounded
                      :class="[
                        allLicence ? 'toolbarBtn' : '',
                        'text-orange-7 text-weight-thin q-mr-sm'
                      ]"
                    />
                  </div>
                  <div class="q-mb-md col-xs-12 col-sm-4">
                    <q-btn
                      @click="toggleActive('activeLicence')"
                      :label="'Active ' + active"
                      icon="verified"
                      rounded
                      :class="[
                        activeLicence ? 'toolbarBtn' : '',
                        'text-green-7 text-weight-thin q-mr-sm'
                      ]"
                    />
                  </div>

                  <div class="q-mb-md col-xs-12 col-sm-4">
                    <q-btn
                      @click="toggleActive('expiredLicence')"
                      :label="'Expired   ' + '\t' + expired"
                      icon="error"
                      rounded
                      :class="[
                        expiredLicence ? 'toolbarBtn' : '',
                        'text-red-5 text-weight-thin'
                      ]"
                    />
                  </div>
                </div>
              </template>

              <template v-if="selected.length" v-slot:top-right>
                <transition
                  appear
                  enter-active-class="animated fadeInUp"
                  leave-active-class="animated bounceOut"
                >
                  <q-btn
                    outline
                    color="light-blue-2"
                    class="deleteBtn"
                    :disable="!selected"
                    icon="edit"
                    @click="editLisence()"
                    v-if="selected.length == 1"
                    text-color="green-4"
                  />
                </transition>

                <transition
                  appear
                  enter-active-class="animated fadeInUp"
                  leave-active-class="animated bounceOut"
                >
                  <q-btn
                    outline
                    class="q-ml-md deleteBtn"
                    color="light-blue-2"
                    :disable="!selected"
                    icon="delete"
                    @click="confirm = true"
                    text-color="red-4"
                  />
                </transition>

                <transition
                  appear
                  enter-active-class="animated fadeInUp"
                  leave-active-class="animated bounceOut"
                >
                  <q-btn
                    class="q-ml-lg deleteBtn"
                    label="Renew"
                    color="orange editBtn"
                    :disable="!selected"
                    :to="{
                      path: '/renew-lisence/' + selected[0].applicant_id,
                      params: edit
                    }"
                    v-if="selected.length == 1"
                  />
                </transition>
                <q-space />
              </template>
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
const icon = "thumb_up";
export default {
  created() {
    this.getActiveLisence();
  },

  data() {
    return {
      filter: "",
      filter2: "",
      pdfFile: "",
      edit2: false,
      dialog: false,
      dialog2: false,
      confirm: false,
      confirm2: false,
      position: "top",
      selected: [],
      loading2: false,

      renewals: [],
      remove: [],
      loading: true,
      sectors: ["individual", "private", "public", "firm", "cooperative"],
      edit: "",
      sector: "",
      district: "",
      renewalId: null,

      updateData: {
        name: "",
        village: "",
        district: "",
        contact: "",
        lisence_id: ""
      },

      districts: [
        "All",
        "Aizawl	",
        "Champhai",
        "Hnahthial",
        "Kolasib",
        "Khawzawl",
        "Lawngtlai",
        "Lunglei",
        "Mamit",
        "Saiha",
        "Saitual",
        "Serchhip"
      ],
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "center",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "village",
          align: "center",
          label: "Village",
          field: "village",
          sortable: true
        },
        {
          name: "district",
          label: "District",
          align: "center",
          field: "district",
          sortable: true
        },
        {
          name: "contact",
          label: "Contact",
          align: "center",
          field: "contact"
        },
        {
          name: "status",
          label: "Status",
          align: "center",
          field: "status",
          sortable: true
        },
        {
          name: "renewed",
          label: "Renewed",
          align: "center",
          field: "renewed"
        },
        {
          name: "lisence_id",
          label: "License_id",
          align: "center",
          field: "lisence_id"
        },
        {
          name: "expires",
          label: "Expires",
          align: "center",
          field: "expiry_date",
          sortable: true
        },
        { name: "file", label: "File", align: "center", field: "file" }
      ],
      data: [
        
      ],

      searchKey: "",
      applicants: [],
      card: false,
      model: null,
      total: 0,
      active: 0,
      expired: 0,
      allLicence: true,
      activeLicence: false,
      expiredLicence: false
    };
  },
  methods: {
    open(position) {
      this.position = position;
      this.dialog = true;
    },

    setFilter() {
      this.filter = this.filter2;
    },
    getActiveLisence() {
      this.active = 0;
      this.expired = 0;
      this.total = 0;
      this.$axios
        .get(this.$store.state.store.APP_URL+"active-lisence")
        .then(response => {
          console.log(response.data);

          this.data = response.data;

          this.data.forEach(element => {
            if (element.status == "active") this.active = this.active + 1;
            else this.expired = this.expired + 1;
          });

          console.log("active , expired", this.active, this.expired);
          return;
        })
        .catch(err => console.log(err));
    },

    getRandomLisenceId() {
      const year = new Date().getFullYear();

      var randomChars =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var result = "";

      for (var i = 0; i < 3; i++) {
        result =
          result +
          randomChars.charAt(Math.floor(Math.random() * randomChars.length));
      }
      //  $lisence = "DGM" . date("Y") . Str::random(4) . rand(100, 200);

      const randomNo = Math.round(Math.random() * (200 - 100 + 1) + 100);
      // console.log(new Date().getFullYear());
      // return
      // $lisence = "DGM"  . date("Y") .rand(100,200);
      let random = "DGM" + year + result + randomNo;

      // console.log(random);

      this.updateData.lisence_id = random.toUpperCase();
    },

    updateLisence(id) {
      this.loading2 = true;
      this.$axios
        .post(this.$store.state.store.APP_URL+"update-lisence/" + id, this.updateData)
        .then(response => {
          this.loading2 = false;
          this.edit2 = false;
          console.log(response.data);
          this.$q.notify({
            message: "Lisence updated successfully",
            color: "green",
            position: "top",
            icon: "thumb_up"
          });

          this.getActiveLisence();
        })
        .catch(err => {
          this.loading2 = false;
          this.edit2 = false;
          this.$q.notify({
            message: err.message,
            color: "red",
            position: "top",
            icon: "warning"
          });
          console.log(err.message);
        });
    },

    deleteLisence(id) {
      if (this.selected.length > 1) id = "all";
      this.$axios
        .post(this.$store.state.store.APP_URL+"delete-lisence/" + id, this.updateData)
        .then(response => {
          this.selected = [];
          console.log(response);
          // return
          this.getActiveLisence();
        })
        .catch(err => {
          this.selected = [];
          console.log(err.message);
        });
    },

    toggleActive(key) {
      this.activeLicence = this.allLicence = this.expiredLicence = false;
      this.key = true;
      if (key == "allLicence") {
        this.filter = "";
        this.allLicence = true;
      }
      if (key == "activeLicence") {
        this.filter = "active";
        this.activeLicence = true;
      }
      if (key == "expiredLicence") {
        this.filter = "expired";
        this.expiredLicence = true;
      }
    },

    setRenewalId(id) {
      this.confirm2 = true;
      this.renewalId = id;
    },
    deleteRenewal() {
      this.$axios
        .post(this.$store.state.store.APP_URL+"delete-renewal/" + this.renewalId)
        .then(response => {
          console.log(response);
          this.getActiveLisence();
          this.getRenewed(this.renewalId);
        })
        .catch(err => {
          console.log(err.message);
          this.getActiveLisence();
          this.getRenewed(this.renewalId);
        });
    },

    filterDistrict() {
      if (this.district == "All") return (this.filter = "");
      this.filter = this.district;
      console.log(this.district);
    },

    editLisence() {
      this.updateData.name = this.selected[0].name;
      this.updateData.village = this.selected[0].village;
      this.updateData.district = this.selected[0].district;
      this.updateData.contact = this.selected[0].contact;
      this.updateData.lisence_id = this.selected[0].lisence_id;
      this.edit2 = true;
    },
    getRenewed(id) {
      console.log("applicant id", id);
      this.position = "right";

      // this.dialog = true;

      this.$axios
        .get(this.$store.state.store.APP_URL+"renew-lisencelist/" + id)
        .then(response => {
          // this.applicants = response.data;
          console.log("server response", response.data);

          this.renewals = response.data;

          this.dialog = true;
        })
        .catch(err => console.log(err));
    },
    getExternalLink(data) {
      this.pdfFile = "http://127.0.0.1:8000/pdf/" + data;
      // return;
      this.dialog2 = true;
      // window.open(`http://127.0.0.1:8000/${data}`, "_blank");
    },

    getSelectedString() {
      // return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.data.length}`
      if (this.selected.length > 1) {
        this.remove = this.selected;
        console.log("multiple selected:", this.remove);
      } else {
        this.edit = this.selected[0].name;
        console.log("single selected:", this.selected[0].name);
      }
    },
    showNotif(position) {
      this.card = false;
      this.$q.notify({
        message: "Lisence generated successfully",
        color: "green",
        position,
        icon
      });
    },
    SearchNow() {
      return;
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
.q-btn-dropdown__arrow {
  display: none;
}

.my-card {
  max-width: 100px;
  min-width: 50%;
}

.q-btn-dropdown__arrow {
  display: none;
}

.q-table--horizontal-separator thead th {
  font-size: 16px !important;
  font-weight: bold !important;
  /* color: #f96332; */
}

.q-table--horizontal-separator tbody tr td {
  font-size: 14px;
}

td:nth-child(8) {
  color: #26a69a;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.q-table__top {
  padding: 10px;
}

.q-table__title {
  font-family: "Nunito", sans-serif;
  font-size: 30px !important;
}

.q-checkbox__svg {
  color: rgb(186, 243, 80);
}

.deleteBtn {
  transition: transform 0.2s !important;
  /* color: #f96332; */
}

.editBtn {
  transition: transform 0.2s !important;
  /* color: #f96332; */
}

.deleteBtn:hover {
  transform: scale(1.2) !important;
}

@media screen and (max-width: 950px) {
  .q-table--horizontal-separator tbody tr td {
    font-size: 13px;
    white-space: break-spaces;
    padding: 0;
    /* color: green !important; */
    /* padding: 0px !important; */
  }

  .q-table--horizontal-separator thead th {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    /* color: #444; */
  }
  .custom {
    max-width: 100% !important;
  }
  .q-card {
    padding: 0 !important;
  }
}
</style>

<style lang="sass" scoped>
.toolbarBtn
  background: #c8e7ea
</style>
