<template>
  <div
    class="q-pa-md"
    style="max-width: 90rem;margin:0 auto;position: relative;"
  >
    <div class="row q-mb-md q-col-gutter-md justify">
      <q-btn
        @click.stop=""
        flat
        dense
        v-go-back.single
        icon="arrow_back"
        color="secondary"
        size="sm"
      />
      <div class="text-h5">Roles</div>
    </div>
    <div class="row q-mb-md q-col-gutter-md justify">
      <div class="col">
        <q-breadcrumbs @click.stop="">
          <q-breadcrumbs-el to="/dashboard" label="Home" />
          <q-breadcrumbs-el label="Roles" />
        </q-breadcrumbs>
      </div>
    </div>
    <div class="row q-col-gutter-xl">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <!-- <div class="col col-lg-8"> -->
        <q-dialog v-model="edit">
          <q-card class="q-pa-md">
            <q-card-section class="row items-center q-pb-none">
              <div class="text-h6">
                Update <span class="text-h5"> {{ titleName }} </span>
              </div>
              <q-space />
              <q-btn icon="close" flat round dense v-close-popup />
            </q-card-section>

            <q-form @submit.prevent="onUpdate()" class="q-gutter-md q-pa-lg">
              <q-input
                color="secondary"
                label="Name"
                v-model="updateUser.name"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'Please type something'
                ]"
              >
                <template v-slot:prepend>
                  <q-icon name="people" />
                </template>
              </q-input>

              <q-input
                color="secondary"
                label="Email"
                v-model="updateUser.email"
                lazy-rules
                :rules="[
                  val => (val && val.length > 0) || 'Please type something'
                ]"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>

              <q-input
                color="secondary"
                label="Password"
                type="password"
                v-model="updateUser.password"
              >
                <template v-slot:prepend>
                  <q-icon name="vpn_key" />
                </template>
              </q-input>

              <q-input
              type="password"
                color="secondary"
                label="Confirm Password"
                v-model="updateUser.password_confirmation"
              >
                <template v-slot:prepend>
                  <q-icon name="vpn_key" />
                </template>
              </q-input>

              <q-radio
              required
              v-model="updateUser.roles"
              color="secondary"
              val="admin"
              label="Admin"
            />
            <q-radio
              required
              v-model="updateUser.roles"
              color="secondary"
              val="guest"
              label="Guest"
            />


              <small class="text-red" v-if="error"> {{ error }} </small> <br />

              <small>Leave it blank to keep the same.</small>

              <div>
                <q-btn
                  label="Update"
                  class="full-width"
                  type="submit"
                  color="secondary"
                />
              </div>
            </q-form>
          </q-card>
        </q-dialog>

        <q-dialog v-model="confirm">
          <q-card class="q-pa-lg">
            <q-card-section class="row items-center">
              <q-avatar icon="warning" color="secondary" text-color="white" />
              <span class="q-ml-sm">Are you sure you want to delete ?</span>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancel" color="secondary" v-close-popup />
              <q-btn
                @click.stop="deleteUser(delete_id)"
                label="Confirm"
                color="red-5"
                v-close-popup
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
        <!-- </div> -->

        <q-markup-table @click.stop="" flat style="font-size: 20px;">
          <thead> 
            <tr>
              <th class="text-left">Name</th>
              <th class="text-left">Email</th>
               <th class="text-left">Role</th>
              <th class="text-left">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.email">
              <td class="text-left">{{ user.name }}</td>
              <td class="text-left">{{ user.email }}</td>
              <td class="text-left text-weight-thin text-blue">{{ user.roles }}</td>
              <td class="text-left">
                <q-btn
                  @click.stop="editUser(user)"
                  class="bg-white-4c customBtn"
                  size="sm"
                  round
                  color="teal-3"
                  dense
                  icon="edit"
                />
                <br />
                <q-btn
                  @click.stop="deleteId(user.id)"
                  class="bg-white-4c q-mt-md customBtn"
                  size="sm"
                  round
                  color="red-3"
                  dense
                  icon="delete"
                />
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4">
        <q-card>
          <q-form
            @click.stop=""
            @submit="onSubmit()"
            class="q-gutter-md q-pa-md"
          >
            <q-card-section>
              <div class="text-h5 q-mb-md">Add Roles</div>
            </q-card-section>

            <label for="">Name</label>
            <q-input
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
              rounded
              dense
              outlined
              v-model="formData.name"
              label="Name"
            />

            <label for="">Email</label>
            <q-input
              type="email"
              rounded
              dense
              outlined
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
              v-model="formData.email"
              label="Email"
            />

            <label for="">Password</label>
            <q-input
              type="password"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
              rounded
              dense
              outlined
              v-model="formData.password"
              label="Password"
            />

            <label for="">Confirm Password</label>
            <q-input
              type="password"
              rounded
              dense
              outlined
              v-model="formData.password_confirmation"
              label="Confirm Password"
              lazy-rules
              :rules="[
                val =>
                  this.formData.password ==
                    this.formData.password_confirmation ||
                  'Password do not match'
              ]"
            />

            <q-radio
              required
              v-model="formData.roles"
              color="secondary"
              val="admin"
              label="Admin"
            />
            <q-radio
              required
              v-model="formData.roles"
              color="secondary"
              val="guest"
              label="Guest"
            />

            <div class="q-mt-md">
              <q-btn
                type="submit"
                rounded
                outline
                style="color: #26A69A;;"
                label="Add New"
                icon="add"
              ></q-btn>
            </div>
          </q-form>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.getUsers();
  },

  data() {
    return {
      users: [],
      edit: false,
      error: "",
      titleName: "",
      confirm: false,
      formData: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        delete_id: null,
        roles: 'admin'
      },

      updateUser: {
        id: null,
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        roles: ''
      }
    };
  },
  methods: {
    onSubmit() {
      this.$axios
        .post(this.$store.state.store.APP_URL + "user/store", this.formData)
        .then(response => {
          console.log(response.data);
          this.getUsers();
        })
        .catch(err => {
          this.$q.notify({
            message: err.message,
            color: "red-4",
            position: "top",
            icon: "warning"
          });
        });

      this.formData.name = "";
      this.formData.email = "";
      this.formData.password = "";
      this.formData.password_confirmation = "";
    },

    onUpdate() {
      if (
        (this.updateUser.password || this.updateUser.password_confirmation) &&
        this.updateUser.password !== this.updateUser.password_confirmation
      ) {
        this.error = "Password do not match";
        return;
      }
      this.error = "";
      this.$axios
        .post(this.$store.state.store.APP_URL + "user/update", this.updateUser)
        .then(response => {
          console.log(response.data);
          this.edit = false;
          this.$q.notify({
            message: "Profile updated successfully",
            color: "green-4",
            position: "top",
            icon: "thumb_up"
          });
          this.getUsers();
        })
        .catch(err => {
          this.edit = false;
          this.$q.notify({
            message: err.message,
            color: "red-4",
            position: "top",
            icon: "warning"
          });
          this.getUsers();
        });
    },

    editUser(user) {
      this.edit = true;
      this.updateUser.id = user.id;
      this.updateUser.name = this.titleName = user.name;
      this.updateUser.email = user.email;
      this.updateUser.roles = user.roles;
    },

    deleteId(id) {
      this.delete_id = id;
      this.confirm = true;
    },

    deleteUser(id) {
      this.confirm = false;
      this.$axios
        .post(this.$store.state.store.APP_URL + "delete-user/" + id)
        .then(response => {
          console.log(response.data);
          this.edit = false;
          this.$q.notify({
            message: "Deleted successfully",
            color: "green-4",
            position: "top",
            icon: "thumb_up"
          });
          this.getUsers();
        })

        .catch(err => {
          console.log(err.data);
          this.edit = false;
          this.$q.notify({
            message: err.message,
            color: "red-4",
            position: "top",
            icon: "warning"
          });
          this.getUsers();
        });
    },

    getUsers() {
      this.$axios
        .get(this.$store.state.store.APP_URL + "users")
        .then(response => {
          // console.log(response.data)
          this.users = response.data;
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

<style lang="sass" scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap")

@media screen and (max-width: 500px)
.q-markup-table tbody tr td
  font-size: 14px !important
  /* color: green; */
  font-family: "Montserrat", sans-serif



.q-card__section
  padding: 0
  font-family: "Montserrat", sans-serif


label
  color: #7d8b99


.customBtn
  transition: transform 0.2s


.customBtn:hover
  transform: scale(1.3)


table,
row
  font-family: "Montserrat", "sans-serif"
  /* color: green; */
  font-size: 12px
  padding: 12px
  /* color: green; */


.q-markup-table tbody tr td
  font-size: 14px
  font-family: "Montserrat", sans-serif

.q-markup-table thead tr th
  font-size: 16px
  font-family: "Montserrat", sans-serif
  font-weight: normal !important

  color: #f96332

body
  font-family: "Montserrat", sans-serif


.q-table
  padding: 20px
</style>
