<template>
  <div class="q-pa-md" style="max-width: 70rem;margin:0 auto">
    <div class="row q-mb-md q-col-gutter-md justify">
      <q-btn
        @click.stop=""
        v-go-back.single
        flat
        dense
        icon="arrow_back"
        color="secondary"
        size="sm"
      />
      <div style="position: relative;" class="text-h5">Records</div>
    </div>
    <div
      style="position: relative;"
      class="row q-mb-lg q-col-gutter-md justify"
    >
      <div class="col">
        <q-breadcrumbs>
          <q-breadcrumbs-el to="/dashboard" label="Home" />
          <q-breadcrumbs-el style="margin-bottom: 0 !important" label="Records" />
        </q-breadcrumbs>
      </div>
    </div>
    <q-card @click.stop="">
      <q-card-section>
        <div class="col col-lg-8">
          <q-dialog v-model="confirm">
            <q-card>
              <q-card-section class="row items-center">
                <q-avatar icon="warning" color="secondary" text-color="white" />
                <span class="q-ml-sm">Are you sure you want to delete ?</span>
              </q-card-section>

              <q-card-actions align="right">
                <q-btn flat label="Cancel" color="secondary" v-close-popup />
                <q-btn
                  @click="deleteLisence()"
                  label="Confirm"
                  color="red-5"
                  v-close-popup
                />
              </q-card-actions>
            </q-card>
          </q-dialog>

          <q-dialog v-model="dialog2">
            <q-card>
              <embed :src="pdfFile" width="300" height="300" />
            </q-card>
          </q-dialog>

          <q-dialog v-model="showDetails">
            <q-card class="full-width">
              <q-card-section>
                <div class="text-h6">{{ formData.name }}</div>
              </q-card-section>
              <div
                class="row justify-start items-start q-col-gutter-xl q-pa-lg"
              >
                <div
                  class="col-lg-8 col-sm-8 col-xs-8 text-bold"
                  style="display:grid"
                >
                  <span>Name:</span>
                  <span>S/o,D/o:</span>
                  <span>Village:</span>
                  <span>Houseno:</span>
                  <span>Telephone:</span>
                  <span>Contact:</span>
                  <span>Sector_type:</span>
                  <span>Profession of business:</span>
                  <span>Mining documents:</span>
                  <span>Minerals intended:</span>
                  <span>Period for which mining lease:</span>
                  <span>Extent of the area:</span>
                  <span>District:</span>
                  <span>Mouza:</span>
                  <span>Village(or City/Town):</span>
                  <span>Plot No:</span>
                  <span>Areas:</span>

                  <span>Ownership:</span>
                  <span>Under forest:</span>
                  <span>Sketch plan:</span>
                  <span>Already hold under quarry lease:</span>
                  <span>Has already applied for,but not granted:</span>
                  <span>Being applied simultaneously:</span>
                  <span>Captive use:</span>
                  <span>If for sale.. :</span>
                  <span>Financial resource:</span>
                  <span>Other particulars:</span>
                </div>

                <div
                  class="col-lg-4 col-sm-4 col-xs-4"
                  style="display:grid;white-space: nowrap;"
                >
                  <span>{{ formData.name }}</span>
                  <span>{{ formData.sd }}</span>
                  <span>{{ formData.village }}</span>
                  <span>{{ formData.houseno }}</span>
                  <span>{{ formData.telephone }}</span>
                  <span>{{ formData.contact }}</span>
                  <span>{{ formData.sector_type }}</span>
                  <span>{{ formData.business_profession }}</span>
                  <span
                    ><q-btn
                      flat
                      dense
                      class="pdf"
                      @click="getExternalLink(formData.mining_documents)"
                      icon="picture_as_pdf"
                      color="red"
                      size="sm"
                  /></span>
                  <span>{{ formData.minerals_intended }}</span>
                  <span>{{ formData.mining_period }}</span>
                  <span>{{ formData.area_extent }}</span>
                  <span>{{ formData.district }}</span>

                  <span>{{ formData.mouza }}</span>
                  <span>{{ formData.city_town }}</span>
                  <span>{{ formData.plot_no }}</span>
                  <span>{{ formData.areas }}</span>

                  <span>{{ formData.ownership }}</span>

                  <span>{{ formData.under_forest }}</span>
                  <span
                    ><q-btn
                      flat
                      dense
                      @click="getExternalLink(formData.sketch_plan)"
                      icon="picture_as_pdf"
                      class="pdf"
                      color="red"
                      size="sm"
                  /></span>
                  <span>{{ formData.already_hold_already }}</span>
                  <span>{{ formData.already_applied_not_granted }}</span>
                  <span>{{ formData.applied_simultaneously }}</span>
                  <span>{{ formData.captive_use }}</span>
                  <span>{{ formData.if_sale }}</span>
                  <span>{{ formData.financial_resource }}</span>
                  <span
                    ><q-btn
                      flat
                      dense
                      @click="getExternalLink(formData.other_particulars)"
                      icon="picture_as_pdf"
                      class="pdf"
                      color="red"
                      size="sm"
                  /></span>
                </div>
              </div>
            </q-card>
          </q-dialog>

          <q-table
            color="primary"
            :data="data"
            :columns="columns"
            row-key="name"
            :filter="filter"
            flat
          >
            <template v-slot:top>
              <q-select
                @input="filterDistrict"
                v-model="district"
                :options="districts"
                rounded
                dense
                outlined
                class="col-lg-3 col-md-4 col-xs-12 col-sm-6"
                label="Choose district"
              />

              <div class="lt-md q-mb-xl"></div>
              <q-space />

              <q-input
                outlined
                rounded
                dense
                color="teal"
                v-model="filter2"
                @keyup="setFilter()"
                border
                class="col-lg-2 col-md-4 col-xs-12 col-sm-4"
                input-class="text-left"
                placeholder="Search here"
              >
                <template v-slot:prepend>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th />
                <q-th v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.label }}
                </q-th>
              </q-tr>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td auto-width>
                  <q-btn
                    size="sm"
                    color="green-3"
                    round
                    dense
                    @click="props.expand = !props.expand"
                    :icon="props.expand ? 'remove' : 'add'"
                  />
                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  <div v-if="col.name == 'actions'">
                    <q-btn
                      size="sm"
                      round
                      flat
                      class="bg-grey-3 customBtn"
                      color="blue"
                      icon="visibility"
                      @click="showDetailsDialog(props.row.id)"
                    />
                    <q-btn
                      size="sm"
                      round
                      flat
                      class="bg-grey-3 customBtn"
                      color="green"
                      icon="edit"
                      :to="{
                        path: '/edit/' + props.row.id,
                        params: props.row.id
                      }"
                    />

                    <br />
                    <q-btn
                      size="sm"
                      round
                      flat
                      class="bg-grey-3 customBtn"
                      color="red"
                      @click="toggleDelete(props.row.id)"
                      icon="delete"
                    />
                  </div>

                  <div v-else>
                    {{ col.value }}
                  </div>
                </q-td>
              </q-tr>
              <q-tr v-show="props.expand" :props="props">
                <q-td colspan="100%">
                  <div class="text-left text-subtitle2">
                    <span class="text-weight-bold">S/o,D/o:</span>
                    {{ props.row.sd }} <br />
                    <span class="text-weight-bold">Village</span>:
                    {{ props.row.village }} <br />
                    <span class="text-weight-bold">District</span>:
                    {{ props.row.district }} <br />
                    <span class="text-weight-bold">Contact</span>:
                    {{ props.row.contact }}
                    <q-expansion-item
                      class="text-blue expansion"
                      :label="see_more ? 'see more' : 'see less'"
                      @click="see_more = !see_more"
                    >
                      <div
                        style="min-width: 400px !important; color:black !important"
                        class="see-more"
                      >
                        <span class="text-weight-bold">Sector type:</span>
                        {{ props.row.sector_type }} <br />
                        <span class="text-weight-bold"
                          >Business profession:</span
                        >
                        {{ props.row.sector_type }} <br />

                        <span class="text-weight-bold"
                          >Minerals intends to mine:</span
                        >
                        {{ props.row.minerals_intended }} <br />

                        <span class="text-weight-bold"
                          >Period of which mining lease required:</span
                        >
                        {{ props.row.mining_period }} <br />

                        <span class="text-weight-bold"
                          >Extent of the area:</span
                        >
                        {{ props.row.area_extent }} <br />
                      </div>
                    </q-expansion-item>
                  </div>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
const icon = "thumb_up";
export default {
  created() {
    this.getActiveLisence();
  },

  data() {
    return {
      filter: "",
      filter2: "",
      pdfFile: "",
      edit2: false,
      dialog: false,
      dialog2: false,
      confirm: false,
      confirm2: false,
      confirm3: true,
      position: "top",
      selected: [],
      see_more: true,

      renewals: [],
      remove: [],
      loading: true,
      sectors: ["individual", "private", "public", "firm", "cooperative"],
      edit: "",
      sector: "",
      district: "",
      renewalId: null,
      deleteId: null,

      updateData: {
        name: "",
        village: "",
        district: "",
        contact: "",
        lisence_id: ""
      },

      formData: {},

      districts: [
        "All",
        "Aizawl	",
        "Champhai",
        "Hnahthial",
        "Kolasib",
        "Khawzawl",
        "Lawngtlai",
        "Lunglei",
        "Mamit",
        "Saiha",
        "Saitual",
        "Serchhip"
      ],
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "sd",
          align: "center",
          label: "S/o,D/o",
          field: "sd",
          sortable: true
        },
        {
          name: "village",
          align: "left",
          label: "Village",
          field: "village",
          sortable: true
        },
        {
          name: "district",
          label: "District",
          align: "left",
          field: "district",
          sortable: true
        },
        {
          name: "contact",
          label: "Contact",
          align: "left",
          field: "contact"
        },
        {
          name: "actions",
          label: "Actions",
          align: "center",
          field: "actions"
        }
      ],
      data: [
     
      ],

      searchKey: "",
      applicants: [],
      card: false,
      model: null,
      total: 0,
      active: 0,
      expired: 0,
      showDetails: false
    };
  },
  methods: {
    open(position) {
      this.position = position;
      this.dialog = true;
    },

    toggleDelete(id) {
      this.confirm = true;
      this.deleteId = id;
    },

    getExternalLink(data) {
      console.log("mining documents", data);
      this.pdfFile = "http://127.0.0.1:8000/" + data;
      // return;
      this.dialog2 = true;
    },

    showDetailsDialog(id) {
      console.log("row id", id);

      this.$axios
        .get(this.$store.state.store.APP_URL + "minings/" + id)
        .then(response => {
          console.log("server response: ", response.data[0]);
          this.formData = response.data[0];
        })
        .catch(error => {
          console.log("something error", error.message);
        });

      this.showDetails = true;
    },

    setFilter() {
      this.filter = this.filter2;
    },
    getActiveLisence() {
      this.$axios
        .get(this.$store.state.store.APP_URL + "minings")
        .then(response => {
          console.log(response.data);

          this.data = response.data;

          // this.data.action = ''

          this.data.forEach(element => {
            if (element.status == "active") this.active = this.active + 1;
            else this.expired = this.expired + 1;
          });

          console.log("active , expired", this.active, this.expired);
          return;
        })
        .catch(err => console.log(err));
    },

    getRandomLisenceId() {
      const year = new Date().getFullYear();

      const randomNo = Math.round(Math.random() * (200 - 100 + 1) + 100);
      // console.log(new Date().getFullYear());
      // return
      // $lisence = "DGM"  . date("Y") .rand(100,200);
      let random = "DGM" + year + randomNo;

      // console.log(random);

      this.updateData.lisence_id = random;
    },

    updateLisence(id) {
      this.$axios
        .post(
          this.$store.state.store.APP_URL + "update-lisence/" + id,
          this.updateData
        )
        .then(response => {
          console.log(response);
        })
        .catch(err => {
          console.log(err.message);
        });
    },

    deleteLisence() {
      // console.log('delete id : ' +this.deleteId);
      // let FormDatas = new FormData();

      // FormDatas.append("_method", "PUT");

      this.$axios
        .delete(this.$store.state.store.APP_URL + "minings/" + this.deleteId)
        .then(response => {
          console.log(response);
          this.getActiveLisence();
        })
        .catch(err => {
          console.log(err.message);
        });
    },

    setRenewalId(id) {
      this.confirm2 = true;
      this.renewalId = id;
    },
    deleteRenewal() {
      this.$axios
        .post(
          this.$store.state.store.APP_URL + "delete-renewal/" + this.renewalId
        )
        .then(response => {
          console.log(response);
          this.getActiveLisence();
          this.getRenewed(this.renewalId);
        })
        .catch(err => {
          console.log(err.message);
          this.getActiveLisence();
          this.getRenewed(this.renewalId);
        });
    },

    editLisence() {
      this.updateData.name = this.selected[0].name;
      this.updateData.village = this.selected[0].village;
      this.updateData.district = this.selected[0].district;
      this.updateData.contact = this.selected[0].contact;
      this.updateData.lisence_id = this.selected[0].lisence_id;
      this.edit2 = true;
    },

    filterDistrict() {
      if (this.district == "All") return (this.filter = "");
      this.filter = this.district;
      console.log(this.district);
    },

    getRenewed(id) {
      console.log("applicant id", id);
      this.position = "right";

      // this.dialog = true;

      this.$axios
        .get(this.$store.state.store.APP_URL + "renew-lisencelist/" + id)
        .then(response => {
          // this.applicants = response.data;
          console.log("server response", response.data);

          this.renewals = response.data;

          this.dialog = true;
        })
        .catch(err => console.log(err));
    },

    getSelectedString() {
      if (this.selected.length > 1) {
        this.remove = this.selected;
        console.log("multiple selected:", this.remove);
      } else {
        this.edit = this.selected[0].name;
        console.log("single selected:", this.selected[0].name);
      }
    },
    showNotif(position) {
      this.card = false;
      this.$q.notify({
        message: "Lisence generated successfully",
        color: "green",
        position,
        icon
      });
    },
    SearchNow() {
      return;
    }
  }
};
</script>

<style lang="sass" scoped>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap")
.q-btn-dropdown__arrow
  display: none


.my-card
  max-width: 100px
  min-width: 50%

.q-expansion-item__toggle-icon
  display: none !important

.expansion
  // color: blue !important
  padding: 0 !important
  max-width: 140px


.expansion:hover
  background: white !important


.q-table--horizontal-separator thead th
  font-size: 16px
  font-weight: bold


.q-table--horizontal-separator tbody tr td
  font-size: 14px



.text-center
  // color: #26a69a !important
  text-align: center !important


.q-table__top
  padding: 10px


.q-table__title
  font-family: "Nunito", sans-serif
  font-size: 30px !important


.q-checkbox__svg
  color: rgb(186, 243, 80)


.deleteBtn
  transition: transform 0.2s !important
  /* color: #f96332; */


.editBtn
  transition: transform 0.2s !important
  /* color: #f96332; */


.customBtn:hover
  transform: scale(1.2) !important

span
  margin-bottom: 7px


@media screen and (max-width: 950px)
  .q-table--horizontal-separator tbody tr td
    font-size: 13px
    white-space: normal !important
    padding: 0

  span
    font-size: 13px

  .pdf
    font-size: 10px !important


  .expansion
    font-size: 13px !important

  .text-subtitle2
    font-size: 13px !important

  .card-actions div
    // background: green !important

    align-content: center
    justify-content: center
    display: grid

  .deleteBtn
    font-size: 10px

  .q-ml-md
    margin: 0 !important

  .q-ml-lg
    margin: 0 !important

  .q-btn__wrapper
    padding: 0 !important

  .q-btn--outline .q-btn__wrapper:before
    border: none !important


  .q-table--horizontal-separator thead th
    font-size: 14px
    font-weight: bold
    padding: 0

  .custom
    max-width: 100% !important

  

@media screen and (max-width: 600px)
  span
    font-size: 10px

  .pdf
    font-size: 6px !important
</style>
