<template>
  <div class="q-pa-md" style="max-width: 90rem;margin:0 auto">
    <div class="q-gutter-y-md col-md-8 col-lg-10">
      <div class="row q-mb-md q-col-gutter-md justify">
        <q-btn
          v-go-back.single
          flat
          dense
          icon="arrow_back"
          color="secondary"
          size="sm"
        />
        <div style="position:relative" class="text-h5">Create Applicant</div>
      </div>
      <div
        style="position:relative"
        class="row q-mb-md q-col-gutter-md justify"
      >
        <div class="col">
          <q-breadcrumbs>
            <q-breadcrumbs-el to="/dashboard" label="Home" />
            <q-breadcrumbs-el label="Create Applicant" />
          </q-breadcrumbs>
        </div>
      </div>
      <div>
        <q-card-section style="padding:10px" class="bg-amber-2 q-mt-sm">
          <div class="text-blue-grey-8 text-caption">
            <q-icon name="warning" /> All fields marked with * are required
          </div>
        </q-card-section>
      </div>

      <q-tabs
        stretch
        inline-label
        outside-arrows
        v-model="tab"
        dense
        class="text-grey"
        active-color="info"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab
          class="q-mr-md gt-sm bg-grey-4"
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="personal"
          label="Information"
        />

        <q-tab
          class="lt-md q-mr-md"
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="personal"
          label="1"
        />

        <!-- <q-btn @click="tab='personal'" unelevated rounded  label="Unelevated Rounded" /> -->
        <!-- <q-icon style="color:#428bca;" size="30px" right name="play_arrow" /> -->
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="sectors"
          label="Area description"
          :class="[canClick ? '' : 'noClick', 'gt-sm q-mr-md bg-grey-4']"
        />
        <q-tab
         
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="sectors"
          label="2"
          :class="[canClick ? '' : 'noClick', 'lt-md q-mr-md bg-grey-4']"
        />

        <q-tab
        
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="documents"
          label="Documents"
          :class="[canClick2 ? '' : 'noClick', 'gt-sm bg-grey-4']"
        />
        <q-tab
         
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="documents"
          label="3"
          :class="[canClick2 ? '' : 'noClick', 'lt-md q-mr-md bg-grey-4']"
        />

        <!-- <q-tab
          class="gt-xs"
          style="clip-path: polygon(0% 0%, 75% 0%, 80% 55%, 75% 100%, 0% 100%);"
          name="mineral"
          label="Mineral utilization"
          :class="[canClick3 ? '' : 'noClick', 'gt-xs']"
        /> -->
        <!-- <q-tab
          class="lt-sm"
          style="clip-path: polygon(0% 0%, 75% 0%, 80% 55%, 75% 100%, 0% 100%);"
          name="mineral"
          label="4"
          :class="[canClick3 ? '' : 'noClick', 'lt-sm']"
        /> -->
      </q-tabs>

      <q-separator />

      <!-- <q-form  @submit.prevent="onSubmit"> -->
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="personal">
          <div class="q-gutter-sm">
            <q-form @submit.prevent="nextSector">
             
              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Personal details
                </legend>
                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <label for="">Name*</label>
                  <q-input
                    outlined
                    
                    v-model="formData.name"
                    dense
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    required
                  >
                  </q-input>
                  <label for="">S/o, D/o*</label>
                  <q-input
                    v-model="formData.sd"
                    color="teal"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">House No*</label>
                  <q-input
                    v-model="formData.houseno"
                    outlined
                    color="teal"
                    dense
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <!-- <label for="">Last Name*</label>
                <q-input outlined dense color="teal" lazy-rules required>
                </q-input> -->
                  <label for="">Village/Town*</label>
                  <q-input
                    v-model="formData.village"
                    outlined
                    color="teal"
                    dense
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Mobile No.*</label>
                  <q-input
                    v-model="formData.contact"
                    dense
                    type="number"
                    color="teal"
                    outlined
                    :rules="[
                      val => (val && val.length == 10) || 'Maximum 10 digits'
                    ]"
                  >
                  </q-input>
                  <label for="">Telephone No.*</label>
                  <q-input
                    v-model="formData.telephone"
                    dense
                    type="number"
                    color="teal"
                    outlined
                    :rules="[
                      val => (val && val.length == 10) || 'Maximum 10 digits'
                    ]"
                  >
                  </q-input>
                </div>
              </fieldset>

              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Sectors and mining details
                </legend>
                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <q-select
                    dense
                    outlined
                    v-model="formData.sector_type"
                    :options="options"
                    label="Choose sector*"
                    color="teal"
                    required
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  />

                  <div v-if="formData.sector_type == 'individual'">
                    <!-- {{ formData.individual_nationality }} -->
                    <label for="">Nationality*</label>
                    <q-input
                      v-model="formData.individual_nationality"
                      color="teal"
                      dense
                      outlined
                      lazy-rules
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                    <label for="">Permanent Residency*</label>
                    <q-input
                      v-model="formData.individual_residency"
                      dense
                      outlined
                      color="teal"
                      label="Permanent Residency"
                      lazy-rules
                      type="textarea"
                      rows="3"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                    <label for="">Qualification*</label>
                    <q-input
                      v-model="formData.individual_qualification"
                      color="teal"
                      dense
                      outlined
                      lazy-rules
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                    <!-- <label for="">Contact*</label>
                  <q-input  v-model="formData.individual_contact" color="teal" dense outlined lazy-rules>
                  </q-input> -->
                  </div>

                  <div v-if="formData.sector_type == 'private'">
                    <label for="">Place of regd*</label>
                    <q-input
                      v-model="formData.private_regd_place"
                      color="teal"
                      dense
                      outlined
                      lazy-rules
                      type="textarea"
                      rows="3"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    ></q-input>

                    <q-file
                      v-model="formData.private_certificate"
                      class="q-mt-md"
                      dense
                      color="teal"
                      label="Copy of regd"
                      required
                    >
                      <template v-slot:prepend>
                        <q-icon name="attach_file" />
                      </template>
                    </q-file>
                    <label for=""
                      >Nationality of members/Board of directors of
                      company</label
                    >
                    <q-input
                      dense
                      outlined
                      color="teal"
                      v-model="formData.private_members_nationality"
                      lazy-rules
                      type="textarea"
                      rows="3"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                  </div>

                  <div v-if="formData.sector_type == 'public'">
                    <label for="">Place of corporation*</label>
                    <q-input
                      v-model="formData.public_corporation_place"
                      color="teal"
                      dense
                      outlined
                      type="textarea"
                      rows="3"
                      lazy-rules
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>

                    <q-file
                      v-model="formData.public_certificate"
                      class="q-mt-md"
                      outlined
                      dense
                      color="teal"
                      label="Copy of certificate of incorporation"
                      required
                    >
                      <template v-slot:prepend>
                        <q-icon name="attach_file" />
                      </template>
                    </q-file>

                    <label for="">Nationality of Directors*</label>
                    <q-input
                      v-model="formData.public_nationality"
                      color="teal"
                      dense
                      outlined
                      type="textarea"
                      rows="3"
                      lazy-rules
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                  </div>

                  <div v-if="formData.sector_type == 'firm'">
                    <label for="">Nationality of partners*</label>
                    <q-input
                      v-model="formData.firm_nationality"
                      dense
                      outlined
                      color="teal"
                      lazy-rules
                      type="textarea"
                      rows="3"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                    <label for="">Members of association*</label>
                    <q-input
                      v-model="formData.firm_members"
                      dense
                      outlined
                      color="teal"
                      lazy-rules
                      type="textarea"
                      rows="3"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                  </div>

                  <div v-if="formData.sector_type == 'cooperative'">
                    <label for="">Nationality of members*</label>
                    <q-input
                      v-model="formData.cooperative_nationality"
                      dense
                      outlined
                      color="teal"
                      type="textarea"
                      rows="3"
                      lazy-rules
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>
                    <label for="">Place of registration*</label>
                    <q-input
                      v-model="formData.cooperative_regd_place"
                      dense
                      outlined
                      color="teal"
                      lazy-rules
                      type="textarea"
                      rows="3"
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Please type something'
                      ]"
                    >
                    </q-input>

                    <q-file
                      v-model="formData.cooperative_certificate"
                      class="q-mt-md"
                      outlined
                      dense
                      color="teal"
                      label="Copy of certificate of registration"
                      required
                    >
                      <template v-slot:prepend>
                        <q-icon name="attach_file" />
                      </template>
                    </q-file>
                  </div>

                  <label for="">profession of nature of business*</label>
                  <q-input
                    v-model="formData.business_profession"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <div class="col-md-6  col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                    <q-file
                      v-model="formData.mining_documents"
                      dense
                      color="teal"
                      label="Particulars of documents appended*"
                      required
                    >
                      <template v-slot:prepend>
                        <q-icon name="attach_file" />
                      </template>
                    </q-file>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="text-caption"
                        >(a) Mining dues clearance certificate or <br />
                        (b) Affidavit in lieu of mining dues clearance
                        certificate subject to the production of mining dues
                        clearance certificate within ninety days of making
                        application, or
                        <br />(c) Affidavit when not holding any mining
                        lease.</span
                      >
                    </div>
                  </div>

                  <!-- <div class="col-md-6 col-sm-6 col-xs-12 col-lg-5"> -->
                  <label for="">Minerals intented to mine*</label>
                  <q-input
                    v-model="formData.minerals_intended"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    type="textarea"
                    rows="3"
                  >
                  </q-input>

                  <label for=""
                    >Extent of the area in respect of mining lease
                    required*</label
                  >
                  <q-input
                    v-model="formData.area_extent"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    type="textarea"
                    rows="3"
                  >
                  </q-input>

                  <label for=""
                    >Period of which mining lease is required*</label
                  >
                  <q-input
                    v-model="formData.mining_period"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    rows="3"
                  >
                  </q-input>

                  <!-- <label for="">Details of the area*</label>
                <q-input
                  v-model="formData.area_details"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                   type="textarea"
                  rows="3"
                >
                </q-input> -->
                  <!-- </div> -->
                </div>
              </fieldset>


              <q-btn
                class="text-center"
                label="Next"
                type="submit"
                icon-right="chevron_right"
                color="secondary"
              />
            </q-form>
          </div>
        </q-tab-panel>

        <q-tab-panel name="sectors">
          <div class="q-gutter-sm ">
            <q-form @submit.prevent="nextDocuments">
              <fieldset
                class="row justify-evenly"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Area details
                </legend>

                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <q-select
                    dense
                    outlined
                    v-model="formData.district"
                    :options="districts"
                    label="Choose district*"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  />

                  <label for="">Mouza(Subdivision/RD Block)*</label>
                  <q-input
                    v-model="formData.mouza"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    type="textarea"
                    rows="3"
                  >
                  </q-input>

                  <label for="">Village(or City/Town)*</label>
                  <q-input
                    dense
                    v-model="formData.city_town"
                    type="textarea"
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    rows="3"
                  >
                  </q-input>
                </div>

                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <label for="">PLot/Dag No.(LSC/PP/Land Lease No etc)*</label>
                  <q-input
                    dense
                    v-model="formData.plot_no"
                    type="textarea"
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    rows="3"
                  >
                  </q-input>

                  <label for="">Areas(in Ha/Bigha/Sq.m)*</label>
                  <q-input
                    dense
                    v-model="formData.areas"
                    type="textarea"
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    rows="3"
                  >
                  </q-input>

                  <label for="">Ownership, Occupancy*</label>
                  <q-input
                    dense
                    v-model="formData.ownership"
                    type="textarea"
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    rows="3"
                  >
                  </q-input>
                </div>
              </fieldset>

              <div class="row">
                <q-toggle
                  label="Is the area applied for lease is under forest?"
                  v-model="formData.under_forest"
                />
              </div>

              <fieldset
                v-if="formData.under_forest"
                class="row justify-evenly q-mt-md"
                style="border: 1px solid #ddd;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Forest Description
                </legend>
                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-3">
                  <label for="">Forest Division, Block and Range*</label>
                  <q-input
                    v-model="formData.forest_division"
                    color="teal"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>

                  <q-toggle
                    v-model="formData.sanctuary"
                    class="q-mt-md"
                    label="Whether it forms part of a National Park/Wildlife Sanctuary?"
                  />
                </div>
                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-3">
                  <label for=""
                    >Legal status of forest, whether reserved*</label
                  >
                  <q-input
                    v-model="formData.legal_status"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for=""
                    >Type and extent of vegetation in the area</label
                  >
                  <q-input
                    v-model="formData.area_extent"
                    color="teal"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>
              </fieldset>

              <q-btn
                color="secondary"
                type="submit"
                icon-right="chevron_right"
                label="Next"
              />
            </q-form>
          </div>
        </q-tab-panel>

        <q-tab-panel name="documents">
          <div class="q-gutter-sm">
            <q-form @submit.prevent="onSubmit">
              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Other Information
                </legend>
                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <label for="">Area hold under quarry lease*</label>
                  <q-input
                    v-model="formData.already_hold_already"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>

                  <label for="">has applied for,but not granted*</label>
                  <q-input
                    v-model="formData.already_applied_not_granted"
                    dense
                    outlined
                    color="teal"
                    type="textarea"
                    rows="3"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>

                  <label for="">being applied for simultaneously*</label>
                  <q-input
                    v-model="formData.applied_simultaneously"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                  <q-file
                    v-model="formData.sketch_plan"
                    dense
                    color="teal"
                    label="Attach sketch plan*"
                    class="q-mb-md"
                    required
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>

                  <span class="q-mt-md">
                    <span class="text-bold">Note:</span> <br />
                    <div class="text-caption">
                      a) the area applied for lease together with boundary, if
                      any, of any other existing /mining lease in case the arca
                      applied for has any common point or line with the
                      boundaries of existing quarry lease <br />
                      <br />
                      (b) the dimensions of the lines forming the boundary area
                      and the bearing and distance of all mer points from any
                      important, prominent and fixed point or points
                      <br /><br />
                      (c) all important surface and natural features ( namely
                      roads, railways, wells, religious places cremation
                      grounds, Government establishment, streams etc)
                    </div>
                  </span>
                </div>
              </fieldset>

              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Sketch plan
                </legend>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                  <label for="">Captive use, location and industry*</label>
                  <q-input
                    v-model="formData.captive_use"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>

                  <label for="">Financial resource of the applicant*</label>
                  <q-input
                    v-model="formData.financial_resource"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                  <label for=""
                    >if for sale,whether mineral supplied in raw or after
                    processing</label
                  >
                  <q-input
                    v-model="formData.if_sale"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <q-file
                    v-model="formData.other_particulars"
                    dense
                    class="q-mb-md q-mt-md"
                    color="teal"
                    label="Any other particulars which the applicant wishes to furnish"
                    required
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>

                  <span class="text-caption"
                    >(a) Attested copy of Land-based document (LSC/PP/ Land
                    Lease etc.) <br />
                    (b) No Objection Certificate (NOC) from concerned
                    Local/Village Council <br />
                    (c) No Objection Certificate (NOC) from concerned Branch
                    YMA/YLA/MTP <br />
                    (d) No Objection Certificate (NOC) from concerned PWD
                    <br />
                    (e) Attested copy of EPIC Aadhaar Card of the applicant
                    <br />
                    (f) Two copies of recent Pasport-size Photo of the
                    applicant</span
                  >
                </div>

              
              </fieldset>

              <div class="text-center">
                <div class="col">
                  <q-btn
                    class="text-center"
                    label="Submit"
                    type="submit"
                    size="md"
                    color="secondary"
                  />
                </div>
              </div>
            </q-form>
          </div>
        </q-tab-panel>
      </q-tab-panels>
     
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      canClick: false,
      canClick2: false,
      canClick3: false,
      tab: "personal",
      blueModel: true,
      individual: null,
      model: null,
      error: "",
      options: ["individual", "private", "public", "firm", "cooperative"],

      districts: [
        "Aizawl	",
        "Champhai",
        "Hnahthial",
        "Kolasib",
        "Khawzawl",
        "Lawngtlai",
        "Lunglei",
        "Mamit",
        "Saiha",
        "Saitual",
        "Serchhip",
        "Other"
      ],

      formData: {
        name: "",
        sd: "",
        village: "",
        houseno: "",
        telephone: "",
        contact: "",
        status: "",
        sector_type: "",

        business_profession: "",
        mining_documents: null,
        minerals_intended: "",
        mining_period: " ",
        area_extent: "",
        district: "",
        mouza: "",
        city_town: "",
        plot_no: "",
        areas: "",
        ownership: "",
        under_forest: false,
        forest_division: null,
        legal_status: null,
        sanctuary: false,
        type_extent: null,
        sketch_plan: null,
        already_hold_already: "",
        already_applied_not_granted: "",
        applied_simultaneously: "",
        captive_use: "",
        if_sale: "",
        financial_resource: "",
        other_particulars: null
      }
    };
  },

  methods: {
    nextDocuments() {
      this.canClick2 = true;

      this.tab = "documents";
    },

    nextMaterial() {
    
      this.canClick3 = true;

      this.tab = "mineral";
    },
    nextSector() {
      this.canClick = true;

      this.tab = "sectors";
    },

    onSubmit() {
      console.log("submitted", this.formData);

      this.$q.loading.show({
        message:
          'Creating Applicant.<br/><span class="text-orange text-weight-bold">Hang on...</span>'
      });

 
      console.log("this error", this.error);
      // this.timer = setTimeout(() => {
      this.$q.loading.show({
        message:
          'Generating Lisence.<br/><span class="text-orange text-weight-bold">Hang on...</span>'
      });
     

      let position = "top";

      const icon = "thumb_up";

  

      let FormDatas = new FormData();

      for (let data in this.formData) {
        FormDatas.append(`${data}`, this.formData[data]);
        
      }

  
      this.$axios
        .post(this.$store.state.store.APP_URL + "minings", FormDatas)
        .then(response => {
          this.$q.loading.hide();
          console.log(response);
          this.$q.notify({
            message: "Lisence generated successfully",
            color: "green",
            position,
            icon
          });

          this.$router.push("/active-lisence");
        })
        .catch(err => {
          this.error = "some error";
          console.log("error catch", err);
          this.$q.loading.hide();
          this.$q.notify({
            message: err.message,
            color: "red",
            position,
            icon: "warning"
          });

          return;
        });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@media screen and (min-width: 600px) {
  .q-tab {
    padding-right: 50px;
    /* color: red; */
  }
}

@media screen and (max-width: 900px) {
  .q-tab__label {
    font-size: 12px !important;
    line-height: 1.715em;
    font-weight: 500;
    /* color: aqua !important; */
  }

  .q-tab {
    flex: 1 1 !important;
    /* background: violet !important; */
  }
}

label,
.q-toggle__label {
  color: #7d8b99;
}
.customtext {
  font-family: "Nunito", sans-serif;
}

span {
  color: #444;
}

.truncate {
  overflow: hidden;
}

.noClick {
  cursor: not-allowed;
  pointer-events: none !important;
}
</style>

<style lang="sass">
.backpanel
  display: block
</style>

<style lang="sass" scoped>
.q-tab--active
  color: #ffffff !important
  background: #26A69A !important
</style>

<style>
.q-toggle__inner--truthy {
  color: #26a69a !important;
}
</style>
