<template>
  <div>
    <div style="position: relative;background:white;" class="row q-mb-md ">
      <div style="max-width:110rem" class="q-ml-sm q-mr-md q-pb-lg col-12">
        <div style="margin-left:20px" class="text-h5">Dashboard</div>
        <line-chart
          style="cursor: pointer;"
          v-if="loaded"
          :datacollection="datacollection"
          :options="options"
        />
      </div>
    </div>

    <div class="row q-pa-md q-col-gutter-md q-mb-md">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xl-6">
        <div class="row q-col-gutter-md justify-evenly q-mb-md">
          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <q-card class="mycard">
              <q-item>
                <q-item-section>
                  <q-avatar round>
                    <q-icon size="xl" color="red" name="article" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-center"
                    ><strong>{{ dashboard.total_applicants }}</strong>
                  </q-item-label>
                  <q-item-label class="text-center">
                    Licence issued
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-item>
                <q-item-section> </q-item-section>
              </q-item>
            </q-card>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <q-card class="my-card4">
              <q-item>
                <q-item-section>
                  <q-avatar round>
                    <q-icon color="yellow-4" size="lg" name="task_alt" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-center"
                    ><strong>{{ dashboard.total_renewed }}</strong>
                  </q-item-label>
                  <q-item-label class="text-center">
                    Licence renewed
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-item>
                <q-item-section> </q-item-section>
              </q-item>
            </q-card>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <q-card class="my-card5">
              <q-item>
                <q-item-section>
                  <q-avatar round>
                    <q-icon color="red-5" size="lg" name="cancel" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-center"
                    ><strong>{{ dashboard.total_expired }}</strong>
                  </q-item-label>
                  <q-item-label class="text-center">
                    Licence expired
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-item>
                <q-item-section> </q-item-section>
              </q-item>
            </q-card>
          </div>
        </div>

        <div class="row q-col-gutter-md justify-evenly q-mt-sm">
          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <q-card class="mycard7">
              <q-item>
                <q-item-section>
                  <q-avatar round>
                    <q-icon size="lg" name="article" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-center"
                    ><strong>{{ dashboard.weekly_applicants }}</strong>
                  </q-item-label>
                  <q-item-label class="text-center">
                    Licence issued
                  </q-item-label>
                  <q-item-label caption class="text-center">
                    this week
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />

              <q-item>
                <q-item-section>
                  <svg
                    data-v-1d81e2c0=""
                    viewBox="0 0 480 160"
                    version="1.1"
                    class="recharts-surface"
                  >
                    <defs data-v-1d81e2c0="">
                      <clipPath data-v-1d81e2c0="" id="recharts20-clip">
                        <rect
                          data-v-1d81e2c0=""
                          x="5"
                          y="0"
                          height="160"
                          width="470"
                        ></rect>
                      </clipPath>
                    </defs>
                    <g data-v-1d81e2c0="" class="recharts-layer recharts-line">
                      <path
                        data-v-1d81e2c0=""
                        stroke="#ef9a9a"
                        stroke-width="3"
                        fill="none"
                        width="470"
                        height="160"
                        d="M5,121.6C19.242424242424242,129.61599999999999,33.484848484848484,137.632,47.72727272727273,137.632C61.96969696969697,137.632,76.21212121212122,3.1999999999999886,90.45454545454545,3.1999999999999886C104.6969696969697,3.1999999999999886,118.93939393939394,97.47200000000001,133.1818181818182,97.47200000000001C147.42424242424244,97.47200000000001,161.66666666666666,83.2,175.9090909090909,83.2C190.15151515151516,83.2,204.39393939393938,99.2,218.63636363636363,99.2C232.87878787878788,99.2,247.12121212121212,96.53333333333333,261.3636363636364,91.2C275.6060606060606,85.86666666666667,289.8484848484848,60.82133333333332,304.09090909090907,51.19999999999999C318.3333333333333,41.57866666666665,332.57575757575756,41.47200000000001,346.8181818181818,33.47200000000001C361.06060606060606,25.47200000000001,375.3030303030303,3.1999999999999886,389.54545454545456,3.1999999999999886C403.7878787878788,3.1999999999999886,418.030303030303,99.2,432.27272727272725,99.2C446.5151515151515,99.2,460.75757575757575,95.2,475,91.2"
                        class="recharts-curve recharts-line-curve"
                      ></path>
                      <g
                        data-v-1d81e2c0=""
                        class="recharts-layer recharts-line-dots"
                      >
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="5"
                          cy="121.6"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="47.72727272727273"
                          cy="137.632"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="90.45454545454545"
                          cy="3.1999999999999886"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="133.1818181818182"
                          cy="97.47200000000001"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="175.9090909090909"
                          cy="83.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="218.63636363636363"
                          cy="99.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="261.3636363636364"
                          cy="91.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="304.09090909090907"
                          cy="51.19999999999999"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="346.8181818181818"
                          cy="33.47200000000001"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="389.54545454545456"
                          cy="3.1999999999999886"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="432.27272727272725"
                          cy="99.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="475"
                          cy="91.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                      </g>
                    </g>
                  </svg>
                </q-item-section>
              </q-item>
            </q-card>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
            <q-card class="my-card3">
              <q-item>
                <q-item-section>
                  <q-avatar round>
                    <q-icon size="lg" name="people" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-center"
                    ><strong>{{ dashboard.weekly_renewed }}</strong>
                  </q-item-label>
                  <q-item-label class="text-center">
                    Lisence renewed
                  </q-item-label>
                  <q-item-label caption class="text-center">
                    this week
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />

              <q-item>
                <q-item-section>
                  <svg
                    class="recharts-surface"
                    viewBox="0 0 480 160"
                    version="1.1"
                  >
                    <defs>
                      <clipPath id="recharts20-clip">
                        <rect x="5" y="0" height="160" width="470"></rect>
                      </clipPath>
                    </defs>
                    <g class="recharts-layer recharts-line">
                      <path
                        stroke="#3ac47d"
                        stroke-width="3"
                        fill="none"
                        width="470"
                        height="160"
                        class="recharts-curve recharts-line-curve"
                        d="M5,121.6C19.242424242424242,129.61599999999999,33.484848484848484,137.632,47.72727272727273,137.632C61.96969696969697,137.632,76.21212121212122,3.1999999999999886,90.45454545454545,3.1999999999999886C104.6969696969697,3.1999999999999886,118.93939393939394,97.47200000000001,133.1818181818182,97.47200000000001C147.42424242424244,97.47200000000001,161.66666666666666,83.2,175.9090909090909,83.2C190.15151515151516,83.2,204.39393939393938,99.2,218.63636363636363,99.2C232.87878787878788,99.2,247.12121212121212,96.53333333333333,261.3636363636364,91.2C275.6060606060606,85.86666666666667,289.8484848484848,60.82133333333332,304.09090909090907,51.19999999999999C318.3333333333333,41.57866666666665,332.57575757575756,41.47200000000001,346.8181818181818,33.47200000000001C361.06060606060606,25.47200000000001,375.3030303030303,3.1999999999999886,389.54545454545456,3.1999999999999886C403.7878787878788,3.1999999999999886,418.030303030303,99.2,432.27272727272725,99.2C446.5151515151515,99.2,460.75757575757575,95.2,475,91.2"
                      ></path>
                      <g class="recharts-layer recharts-line-dots">
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="5"
                          cy="121.6"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="47.72727272727273"
                          cy="137.632"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="90.45454545454545"
                          cy="3.1999999999999886"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="133.1818181818182"
                          cy="97.47200000000001"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="175.9090909090909"
                          cy="83.2"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="218.63636363636363"
                          cy="99.2"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="261.3636363636364"
                          cy="91.2"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="304.09090909090907"
                          cy="51.19999999999999"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="346.8181818181818"
                          cy="33.47200000000001"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="389.54545454545456"
                          cy="3.1999999999999886"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="432.27272727272725"
                          cy="99.2"
                        ></circle>
                        <circle
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          class="recharts-dot recharts-line-dot"
                          cx="475"
                          cy="91.2"
                        ></circle>
                      </g>
                    </g>
                  </svg>
                </q-item-section>
              </q-item>
            </q-card>
          </div>

          <div
            class="col-md-4 col-sm-4 col-xs-12 col-lg-4                                                                      "
          >
            <q-card class="my-card4">
              <q-item>
                <q-item-section>
                  <q-avatar round>
                    <q-icon size="lg" name="star_border_purple500" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-center"
                    ><strong>{{ dashboard.weekly_expired }}</strong>
                  </q-item-label>
                  <q-item-label class="text-center">
                    Licence expired
                  </q-item-label>
                  <q-item-label caption class="text-center">
                    this week
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator />
              <q-item>
                <q-item-section>
                  <svg
                    data-v-1d81e2c0=""
                    viewBox="0 0 480 160"
                    version="1.1"
                    class="recharts-surface"
                  >
                    <defs data-v-1d81e2c0="">
                      <clipPath data-v-1d81e2c0="" id="recharts20-clip">
                        <rect
                          data-v-1d81e2c0=""
                          x="5"
                          y="0"
                          height="160"
                          width="470"
                        ></rect>
                      </clipPath>
                    </defs>
                    <g data-v-1d81e2c0="" class="recharts-layer recharts-line">
                      <path
                        data-v-1d81e2c0=""
                        stroke="#ef9a9a"
                        stroke-width="3"
                        fill="none"
                        width="470"
                        height="160"
                        d="M5,121.6C19.242424242424242,129.61599999999999,33.484848484848484,137.632,47.72727272727273,137.632C61.96969696969697,137.632,76.21212121212122,3.1999999999999886,90.45454545454545,3.1999999999999886C104.6969696969697,3.1999999999999886,118.93939393939394,97.47200000000001,133.1818181818182,97.47200000000001C147.42424242424244,97.47200000000001,161.66666666666666,83.2,175.9090909090909,83.2C190.15151515151516,83.2,204.39393939393938,99.2,218.63636363636363,99.2C232.87878787878788,99.2,247.12121212121212,96.53333333333333,261.3636363636364,91.2C275.6060606060606,85.86666666666667,289.8484848484848,60.82133333333332,304.09090909090907,51.19999999999999C318.3333333333333,41.57866666666665,332.57575757575756,41.47200000000001,346.8181818181818,33.47200000000001C361.06060606060606,25.47200000000001,375.3030303030303,3.1999999999999886,389.54545454545456,3.1999999999999886C403.7878787878788,3.1999999999999886,418.030303030303,99.2,432.27272727272725,99.2C446.5151515151515,99.2,460.75757575757575,95.2,475,91.2"
                        class="recharts-curve recharts-line-curve"
                      ></path>
                      <g
                        data-v-1d81e2c0=""
                        class="recharts-layer recharts-line-dots"
                      >
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="5"
                          cy="121.6"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="47.72727272727273"
                          cy="137.632"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="90.45454545454545"
                          cy="3.1999999999999886"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="133.1818181818182"
                          cy="97.47200000000001"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="175.9090909090909"
                          cy="83.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="218.63636363636363"
                          cy="99.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="261.3636363636364"
                          cy="91.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="304.09090909090907"
                          cy="51.19999999999999"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="346.8181818181818"
                          cy="33.47200000000001"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="389.54545454545456"
                          cy="3.1999999999999886"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="432.27272727272725"
                          cy="99.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                        <circle
                          data-v-1d81e2c0=""
                          r="3"
                          stroke="#3ac47d"
                          stroke-width="3"
                          fill="#fff"
                          width="470"
                          height="160"
                          cx="475"
                          cy="91.2"
                          class="recharts-dot recharts-line-dot"
                        ></circle>
                      </g>
                    </g>
                  </svg>
                </q-item-section>
              </q-item>
              <!-- 
          <q-item>
            <q-item-section class="myitem">
            </q-item-section>
          </q-item> -->
            </q-card>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-xl-6 q-mb-md">
        <!-- <q-toolbar>
          <q-toolbar-title>Recent entries</q-toolbar-title>
          <q-btn
            to="/applicants"
            flat
            text-color="light-blue-8"
            label="Show All"
          ></q-btn>
        </q-toolbar> -->
        <div style="display:flex">
          <div class="text-left">Recent entries</div>
          <q-space />
          <div>
            <q-btn
              to="/applicants"
              flat
              text-color="light-blue-8"
              label="Show All"
              dense
            />
          </div>
        </div>
        <q-markup-table>
          <thead class="bg-green-4">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">S/o, D/o</th>
              <th class="text-center">Village</th>
              <th class="text-center">Contact</th>
              <th class="text-center">District</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="recent in dashboard.recent" :key="recent.id">
              <td class="text-center">{{ recent.name }}</td>
              <td class="text-center">{{ recent.sd }}</td>
              <td class="text-center">{{ recent.village }}</td>
              <td class="text-center">{{ recent.contact }}</td>
              <td class="text-center">
                {{ recent.district }}
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from "./LineChart.vue";
export default {
  components: {
    LineChart
  },
  async mounted() {
    this.loaded = false;
    console.log("APP_URL", this.$store.state.store.APP_URL);
    // console.log("userDetails2", this.$store);
    await this.$axios
      .get(this.$store.state.store.APP_URL + "dashboard")
      .then(response => {
        console.log(response.data);

        this.dashboard = response.data;
      })
      .catch(err => console.log(err));

    this.$axios
      .get(this.$store.state.store.APP_URL + "monthly")
      .then(response => {
        for (let index in response.data) {
          this.datacollection.datasets[0].data[index * 1 - 1] =
            response.data[index].length;
        }

        this.loaded = true;
      })
      .catch(err => console.log(err));
  },
  data() {
    return {
      dashboard: {},
      loaded: false,
      datacollection: {
        //Data to be represented on x-axis
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ],
        datasets: [
          {
            label: "Licence issued",
            backgroundColor: "#c9f7f5",
            pointBackgroundColor: "white",
            borderWidth: 2,
            pointBorderColor: "green",
            //Data to be represented on y-axis
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }
        ]
      },
      //Chart.js options that controls the appearance of the chart
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }
          ],
          xAxes: [
            {
              gridLines: {
                display: false
              }
            }
          ]
        },
        legend: {
          display: true
        },
        responsive: true,
        maintainAspectRatio: false
      }
    };
  }
};
</script>

<style lang="sass" scoped>
.mycard
  background-image: -webkit-linear-gradient(90deg,#11998e 0%,#38ef7d 100%)
  background-color: #39f
  color: #fff
 
.mycard7
  background-color: #e55353
  color: #fff

.myitem
  background: url('../assets/chart.png') repeat-x 0 0
  opacity: 0.2
  background-size: cover
  background-repeat: no-repeat
  background-position: center right
  padding: 40px

.my-card1
  background: linear-gradient(60deg,#ffa726,#fb8c00)
  color: #fff
  // background: url('../assets/chart.jpg')
  background-size: cover

.my-card3
  background: linear-gradient(60deg,#66bb6a,#43a047)
  color: #fff
  background-size: cover

.my-card4
  // background-image: -webkit-linear-gradient(90deg,#ee0979 0%,#ff6a00 100%)
  background-color: #39f
  // background-size: cover
  color: #fff

.my-card5
  background-color: #6153dc
  color: #fff

.q-item__section
  font-weight: bold
  white-space: normal

.q-item__section--main + .q-item__section--main
  margin-left: -40px

.q-table--horizontal-separator thead th 
  font-size: 14px
  font-weight: bold

</style>
