<template>
  <div class="q-pa-md q-ma-sm" style="background-color: #f8f8f8;">
    <div class="row q-mb-md q-col-gutter-md justify">
      <q-btn v-go-back.single flat dense icon="arrow_back" color="secondary" />
      <div class="text-h4">Expired Lisence</div>
    </div>
    <div class="row q-mb-md q-col-gutter-md justify">
      <div class="col">
        <q-breadcrumbs>
          <q-breadcrumbs-el to="/dashboard" label="Home" />
          <q-breadcrumbs-el label="Expired Lisence" />
        </q-breadcrumbs>
      </div>
    </div>
    <q-card class="q-pa-lg">
      <q-card-section>
        <div class="row q-mb-md q-col-gutter-md">
          <div class="col-lg-2">
            <q-select
              square
              dense
              outlined
              v-model="district"
              :options="districts"
              label="District"
            />
          </div>

          <div class="col-lg-2">
            <q-select
              square
              dense
              outlined
              v-model="sector"
              :options="sectors"
              label="Sector"
            />
          </div>

          <!-- <q-space /> -->

          <div class="q-ml-lg col-lg-2" style="display:flex;">
            <q-input
              outlined
              dense
              v-model="searchKey"
              @keyup="SearchNow"
              border
              input-class="text-left"
              class="q-ml-md full-width"
              placeholder="Search here"
            >
              <template v-slot:prepend>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
        </div>
        <div class="row q-col-gutter-md">
          <div class="col col">
            <q-table
              class="mytable"
              color="primary"
              selection="multiple"
              :selected.sync="selected"
              :selected-rows-label="getSelectedString"
              :data="data"
              :columns="columns"
              row-key="name"
              flat
            >
              <template v-if="selected.length" v-slot:top-right>
            

                <q-btn
                  outline
                  color="light-blue-2 editBtn"
                  :disable="!selected"
                  icon="edit"
                  :to="{
                    path: '/edit/' + edit,
                    params: edit
                  }"
                  v-if="selected.length == 1"
                  text-color="green-4"
                />
                <q-btn
                  outline
                  class="q-ml-lg deleteBtn"
                  color="light-blue-2"
                  :disable="!selected"
                  icon="delete"
                  text-color="red-4"
                />
                <q-btn
                  class="q-ml-lg deleteBtn"
                  label="View renewals"
                  color="green-4 editBtn"
                  :disable="!selected"
                  :to="{
                    path: '/renew-lisencelist/1'
                  }"
                  v-if="selected.length == 1"
                />

                <q-btn
                  class="q-ml-lg deleteBtn"
                  label="Renew"
                  color="orange editBtn"
                  :disable="!selected"
                  :to="{
                    path: '/renew-lisence/' + edit,
                    params: edit
                  }"
                  v-if="selected.length == 1"
                />
                <q-space />
              </template>
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
const icon = "thumb_up";
export default {
  created() {
    this.$axios
      .get(this.$store.state.store.APP_URL+"active-lisence")
      .then(response => {
        console.log(response.data);
        let actives = response.data;

        console.log("actives", actives);

        actives.forEach(active => {
          let data = {
            name: "",
            village: "",
            district: "",
            contact: "",
            sector: "",
            expires: "",
            renewed: ""
          };
          data.name = active.name;
          data.village = active.village;
          data.contact = active.contact;
          data.sector = active.sector_type;
          data.expires = active.expiry_date;
          data.renewed = "yes";
          data.lisence_id = "DGM2020JUT";

          console.log("array:", active);
          // data.d = active.name;

          this.data = [...this.data, data];
        });

        console.log("data", this.data);

      })
      .catch(err => console.log(err));
  },

  data() {
    return {
      selected: [],
      edit: "",
      remove: [],
      loading: true,
      sectors: ["individual", "private", "public", "firm", "cooperative"],

      sector: "",
      district: "",

      districts: [
        "Aizawl	",
        "Champhai",
        "Hnahthial",
        "Kolasib",
        "Khawzawl",
        "Lawngtlai",
        "Lunglei",
        "Mamit",
        "Saiha",
        "Saitual",
        "Serchhip",
        "Other"
      ],
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "village",
          align: "center",
          label: "Village",
          field: "village",
          sortable: true
        },
        {
          name: "district",
          label: "District",
          field: "district",
          sortable: true,
          style: "width: 100px"
        },
        { name: "contact", label: "Contact", field: "contact" },
        { name: "sector", label: "Sector", field: "sector" },
        { name: "renewed", label: "Renewed", field: "renewed" },
        { name: "lisence_id", label: "Lisence_id", field: "lisence_id" },
        { name: "expires", label: "Expires", field: "expires" }
      ],
      data: [
      
      ],

      searchKey: "",
      applicants: [],
      card: false,
      model: null
    };
  },
  methods: {
    getSelectedString() {
      // return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.data.length}`
      if (this.selected.length > 1) {
        this.remove = this.selected;
        console.log("multiple selected:", this.remove);
      } else {
        this.edit = this.selected[0].name;
        console.log("single selected:", this.selected[0].name);
      }
    },
    showNotif(position) {
      this.card = false;
      this.$q.notify({
        message: "Lisence generated successfully",
        color: "green",
        position,
        icon
      });
    },
    SearchNow() {
      this.loading = true;
      if (this.searchKey) {
        this.$axios
          .get(this.$store.state.store.APP_URL+"search-active/" + this.searchKey)
          .then(respose => {
            this.applicants = respose.data;
            this.loading = false;
          });
      } else {
        this.$axios
          .get(this.$store.state.store.APP_URL+"active-lisence")
          .then(respose => {
            this.applicants = respose.data;
            this.loading = false;
          });
      }
    }
  }
};
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap')
.q-btn-dropdown__arrow
  display: none





.q-btn-dropdown__arrow
  display: none


.q-table--horizontal-separator thead th, td
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif
  font-size: 20px
  color: green

td
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif
  font-size: 15px !important
  color: red

.q-table__title
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important
  font-size: 30px !important


</style>
