<template>
  <q-page class="flex flex-center">
    HomePage
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>

<style lang="sass" scoped>
  .q-btn-dropdown__arrow
    display: none  
</style>
