<template>
  <div
    class="q-pa-md"
    style="max-width: 80rem;margin:0 auto;position: relative;"
  >
    <div class="q-gutter-y-md col-md-8 col-12">
      <div class="row q-mb-md q-col-gutter-md justify">
        <q-btn
          v-go-back.single
          flat
          dense
          icon="arrow_back"
          color="secondary"
          size="sm"
        />
        <div class="text-h5">Update Renewal</div>
      </div>

      <div class="row q-mb-md q-col-gutter-md justify">
        <div class="col">
          <q-breadcrumbs>
            <q-breadcrumbs-el to="/dashboard" label="Home" />
            <q-breadcrumbs-el label="Update Renewal" />
          </q-breadcrumbs>
        </div>
      </div>

      <q-tabs
        stretch
        inline-label
        outside-arrows
        v-model="tab"
        dense
        class="text-grey q-mt-lg"
        active-color="info"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="personal"
          label="Information"
          class="gt-xs q-mr-md bg-grey-4"
        />
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="personal"
          label="1"
          class="lt-sm q-mr-md bg-grey-4"
        />

        <!-- <q-btn @click="tab='personal'" unelevated rounded  label="Unelevated Rounded" /> -->
        <!-- <q-icon style="color:#428bca;" size="30px" right name="play_arrow" /> -->
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="sectors"
          label="Area Description"
          class="gt-xs q-mr-md bg-grey-4"
        />
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="sectors"
          label="2"
          class="lt-sm q-mr-md bg-grey-4"
        />

        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="documents"
          label="Documents"
          class="gt-xs q-mr-md bg-grey-4"
        />
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="documents"
          label="3"
          class="lt-sm q-mr-md bg-grey-4"
        />
      </q-tabs>

      <q-separator />

      <q-dialog v-model="dialog2">
        <q-card>
          <embed :src="pdfFile" width="500" height="500" />
        </q-card>
      </q-dialog>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="personal">
          <div class="q-gutter-sm">
            <q-form @submit.prevent="nextTab('sectors')">
              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Personal details
                </legend>
                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4">
                  <label for="">Name*</label>
                  <q-input
                    v-model="formData.name"
                    dense
                    outlined
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    required
                  >
                  </q-input>

                  <label for="">S/o, D/o*</label>
                  <q-input
                    color="secondary"
                    v-model="formData.sd"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Houseno*</label>
                  <q-input
                    v-model="formData.houseno"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4">
                  <label for="">Telephone*</label>
                  <q-input
                    v-model="formData.telephone"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    required
                  >
                  </q-input>
                  <label for="">Village/Town*</label>
                  <q-input
                    v-model="formData.village"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Contact*</label>
                  <q-input
                    type="number"
                    v-model="formData.contact"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length == 10) || 'Maximum length is 10'
                    ]"
                  >
                  </q-input>
                </div>
              </fieldset>

              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Sectors and mining details
                </legend>
                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4">
                  <q-select
                    v-model="formData.sector_type"
                    :options="options"
                    label="Choose sector*"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  />
                  <label for="">Profession of nature of business*</label>
                  <q-input
                    v-model="formData.business_profession"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>

                  <q-file
                    color="secondary"
                    v-model="formData.clearance_certificate"
                    
                    label="Reference of valid clearance certificate of payment of mining dues8"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <div
                        class="truncate ellipses col-md-6 text-center col-xl-4 col-lg-6 col-sm-12 col-xs-4"
                      >
                        <q-btn
                          @click="getExternalLink(clearance_certificate)"
                          icon="visibility"
                          flat
                          dense
                          color="secondary"
                        ></q-btn>
                      </div>
                    </template>
                  </q-file>
                </div>

                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4">
                  <label for=""
                    >Particulars of mining lease granted earlier*</label
                  >
                  <q-input
                    v-model="formData.mining_lease_granted_earlier"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>

                  <label for=""
                    >Particulars of mining lease of which renewal is
                    desired*</label
                  >

                  <q-input
                    v-model="formData.desired_renewal"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>
                  <label for=""
                    >Details of prevous renewal granted, if any*</label
                  >
                  <q-input
                    v-model="formData.previous_renewal"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>
                </div>
              </fieldset>

              <q-btn
                color="secondary"
                type="submit"
                icon-right="chevron_right"
                label="Next"
              />
            </q-form>
          </div>
        </q-tab-panel>

        <q-tab-panel name="sectors">
          <div class="q-gutter-sm ">
            <q-form @submit.prevent="nextTab('documents')">
              <fieldset
                class="row justify-evenly"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Area Details
                </legend>
                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4">
                  <label for=""
                    >Period of which renewal of quarry lease required*</label
                  >
                  <q-input
                    v-model="formData.renewal_period"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>
                  <label for="">The ares applied for*</label>
                  <q-input
                    v-model="formData.area_applied_for"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>
                  <label for=""
                    >The description of the area applied for renewal*</label
                  >
                  <q-input
                    type="textarea"
                    v-model="formData.renewal_desc"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div class="col-md-6 col-sm-7 col-xs-12 col-lg-6">
                  <label for=""
                    >If not, "No objection certificate" for undertaking mining
                    operation has to be obtained from the
                    owner/occupier/District Council in writing*</label
                  >
                  <q-input
                    v-model="formData.no_objection"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>
                  <label for="">Already area holds under mining lease*</label>
                  <q-input
                    v-model="formData.already_hold"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Has already applied for but not granted*</label>
                  <q-input
                    v-model="formData.already_applied"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Being applied for simultaneously*</label>
                  <q-input
                    v-model="formData.applied_simultaneously"
                    color="secondary"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                    dense
                    outlined
                  >
                  </q-input>
                </div>
              </fieldset>

              <fieldset
                class="row justify-evenly"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Mineral to be utilised
                </legend>
                <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4">
                  <label for=""
                    >If for captive use, the location of plant and
                    industry*</label
                  >
                  <q-input
                    type="textarea"
                    v-model="formData.captive_use"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for=""
                    >Details of output during the lease period held*</label
                  >
                  <q-input
                    type="textarea"
                    v-model="formData.output_details"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                  <label for=""
                    >If for sale, whether mineral will be supplied in raw form
                    or after processing (i.e crushing /grinding/beneficiation
                    /calcining)*</label
                  >
                  <q-input
                    type="textarea"
                    v-model="formData.if_sale"
                    color="secondary"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>
              </fieldset>

              <q-btn
                color="secondary"
                type="submit"
                icon-right="chevron_right"
                label="Next"
              />
            </q-form>
          </div>
        </q-tab-panel>

        <q-tab-panel name="documents">
          <div class="q-gutter-sm">
            <q-form @submit.prevent="onSubmit()">
              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Mining plan
                </legend>
                <div class="col-6">
                  <q-file
                    
                    v-model="formData.mining_plan"
                    color="secondary"
                    label="Attach sketch plan"
                    class="q-mb-md"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <div
                        class="truncate ellipses col-md-6 text-center col-xl-4 col-lg-6 col-sm-12 col-xs-4"
                      >
                        <q-btn
                          @click="getExternalLink(mining_plan)"
                          icon="visibility"
                          flat
                          dense
                          color="secondary"
                        ></q-btn>
                      </div>
                    </template>
                  </q-file>

                  <span class="q-mt-md full-width">
                    <span class="text-bold">Note:</span> <br />
                    (a) the plan of the areas applied for showing location,
                    boundaries, natural water courses, forest areas assessment
                    of impact of mining activity on forest, land surface and
                    environment including air and water pollution <br /><br />
                    (b) the spot or spots where the excavation is to be done in
                    the first year and its extend, a tentative scheme of mining
                    year-wise for the subsequent years of the Icase period
                    <br /><br />
                    (c) method of mining, ie the extent of manual mining and/or
                    extent of mining by use of machinery and mechanical devices
                    <br /><br />
                    (d) the detail of scheme for restoration of the area's
                    afforestation, land reclamation, use pollution control
                    devices.
                  </span>
                </div>

             
              </fieldset>

              <fieldset
                class="row justify-evenly q-pb-lg"
                style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
              >
                <legend
                  style="color: #428bca;"
                  class="text-body2 text-weight-bold"
                >
                  Other particulars
                </legend>
                <div class="col-6">
                  <q-file
                    
                    v-model="formData.other_particulars"
                    color="secondary"
                    label="other particulars"
                    class="q-mb-md"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <div
                        class="truncate ellipses col-md-6 text-center col-xl-4 col-lg-6 col-sm-12 col-xs-4"
                      >
                        <q-btn
                          @click="getExternalLink(other_particulars)"
                          icon="visibility"
                          flat
                          dense
                          color="secondary"
                        ></q-btn>
                      </div>
                    </template>
                  </q-file>

                  <span class="q-mt-md">
                    <span class="text-bold">Note:</span> <br />
                    a) Attested copy of Land-based document (LSC/PP Land Lease
                    cte.)<br />
                    <br />
                    (b) No Objection Certificate (NOC) from concerned
                    Local/Village Council <br /><br />
                    (c) No Objection Certificate (NOC) from concerned Branch YMA
                    LAMP <br /><br />
                    (c) No Objection Certificate (NOC) from concerned PWD
                    <br />
                    <br />
                    (d) Attested copy of EPIC/Aadhaar Card of the applicant
                    <br /><br />

                    (e) Two copies of recent Pasport-se Photo of the applicant
                    <br /><br />
                  </span>
                </div>
              </fieldset>

              <q-btn label="Submit" type="submit" color="secondary" />
            </q-form>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script>
export default {
  beforeCreate() {
    // this.formData = {};
    this.$axios
      .get(this.$store.state.store.APP_URL+"edit-renewal/" + this.$route.params.id)
      .then(response => {
        console.log("created method", response.data[0]);

        this.clearance_certificate = response.data[0].clearance_certificate;

        // console.log("certificate", this.clearance_certificate);
        this.mining_plan = response.data[0].mining_plan;
        this.other_particulars = response.data[0].other_particulars;
        // console.log(response.data[0]);
        this.formData = response.data[0];

        this.formData.clearance_certificate = null;
        this.formData.mining_plan = null;
        this.formData.other_particulars = null;

        response.data[0].under_forest
          ? (this.formData.under_forest = true)
          : (this.formData.under_forest = false);
        // Object.assign(this.formData,response.data)
        console.log("form name", this.formData.name);
      });
  },

  data() {
    return {
      tab: "personal",
      blueModel: true,
      individual: null,
      model: null,
      mining_documents: null,
      mining_plan: null,
      other_particulars: null,

      canClick: true,
      canClick2: true,
      canClick3: true,
      dialog2: false,
      pdfFile: "",

      options: ["Individual", "Private", "Public", "Firm", "Co-operative"],
      formData: {
        already_applied: "",
        already_hold_already: "",
        already_hold: "",
        applied_simultaneously: "",
        area_applied_for: "",
        area_details: "",
        area_extent: "",
        business_profession: "",
        captive_use: "",
        contact: "",
        created_at: "",
        financial_resource: "",
        firm_members: "",
        firm_nationality: "",
        forest_division: "",
        houseno: "",
        id: "",
        if_sale: "",
        legal_status: "",
        lisence_renewed: "",
        minerals_intended: "",
        mining_lease_granted_earlier: "",
        mining_lease_renewal: "",
        mining_period: " ",
        name: "",
        no_objection: "",
        output_details: "",
        renewal_period: "",
        previous_renewal: "",
        renewal_desc: "",
        sanctuary: "",
        sd: "",
        sector_type: "",
        status: "",
        telephone: "",
        type_extent: null,
        under_forest: "",
        village: ""
      }
    };
  },
  methods: {
    

    getExternalLink(data) {
      console.log(data);
      this.pdfFile = "http://127.0.0.1:8000/" + data;
      // return;
      this.dialog2 = true;
      // window.open(`http://127.0.0.1:8000/${data}`, "_blank");
    },
    getSectors() {
      this.tab = "sectors";
    },
    getDocuments() {
      this.tab = "documents";
    },

    nextTab(tab) {
      if (tab == "sectors") {
        this.canClick2 = true;
        this.canClick = true;
      }
      if (tab == "documents") this.canClick3 = true;

      this.tab = tab;
    },

    onSubmit() {
      // console.log('submitted');
      // return
      let FormDatas = new FormData();

      for (let data in this.formData) {
        FormDatas.append(`${data}`, this.formData[data]);
        // console.log(this.formData[data]);
      }

      // console.log(FormDatas.get("clearance_certificate"));

      // return;
      this.$axios
        .post(
          this.$store.state.store.APP_URL+"renewlisence/" + this.$route.params.id,
          FormDatas
        )

        .then(response => {
          this.$q.notify({
            message: "Lisence updated successfully",
            color: "green",
            position: "top",
            icon: "thumb_up"
          });

          this.$router.push("/active-lisence");
        })
        .catch(err => {
          console.log(err);
          this.$q.notify({
            message: err.message,
            color: "red",
            position: "top",
            icon: "warning"
          });
        });
    }
  }
};
</script>

<style scoped>
@media screen and (min-width: 600px) {
  .q-tab {
    padding-right: 50px;
    /* color: red; */
  }

  span {
    color: #444;
  }
}
label,
.q-toggle__label {
  color: #7d8b99;
}

.q-field__label {
  font-size: 12px !important;
  color: aqua !important;
}
</style>

<style>
.q-field__label {
  font-size: 12px !important;
  /* color: aqua !important; */
}

.noClick {
  cursor: not-allowed;
  pointer-events: none !important;
}

.q-toggle__inner--truthy {
  color: #26a69a !important;
}
</style>

<style lang="sass" scoped>
.q-tab--active
  color: #ffffff !important
  background: #26A69A !important
</style>
