<template>
  <div class="q-pa-md" style="max-width: 90rem;margin:0 auto">
    <div class="q-gutter-y-md col-md-8 col-lg-10">
      <q-dialog v-model="dialog2">
        <q-card>
          <embed :src="pdfFile" width="500" height="500" />
        </q-card>
      </q-dialog>

      <div class="row q-mb-md q-col-gutter-md justify">
        <q-btn
          v-go-back.single
          flat
          dense
          icon="arrow_back"
          color="secondary"
          size="sm"
        />
        <div style="position:relative" class="text-h5">Update Applicant</div>
      </div>
      <div
        style="position:relative"
        class="row q-mb-md q-col-gutter-md justify"
      >
        <div class="col">
          <q-breadcrumbs>
            <q-breadcrumbs-el to="/dashboard" label="Home" />
            <q-breadcrumbs-el label="Update Applicant" />
          </q-breadcrumbs>
        </div>
      </div>

      <q-tabs
        stretch
        inline-label
        outside-arrows
        v-model="tab"
        dense
        class="text-grey"
        active-color="info"
        indicator-color="primary"
        active-bg-color="positive"
        align="justify"
        narrow-indicator
      >
        <q-tab
          class="q-mr-md gt-xs bg-grey-4"
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="personal"
          label="Information"
        />

        <q-tab
          class="lt-sm q-mr-md"
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="personal"
          label="1"
        />

        <!-- <q-btn @click="tab='personal'" unelevated rounded  label="Unelevated Rounded" /> -->
        <!-- <q-icon style="color:#428bca;" size="30px" right name="play_arrow" /> -->
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="sectors"
          label="Area description"
          class="gt-xs q-mr-md bg-grey-4"
        />
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="sectors"
          label="2"
          class="lt-sm q-mr-md bg-grey-4"
        />

        <q-tab
          class="q-mr-md gt-xs bg-grey-4"
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="documents"
          label="Documents"
        />
        <q-tab
          style="clip-path: polygon(97% 0, 100% 50%, 96% 100%, 0% 100%, 3% 57%, 0% 0%);"
          name="documents"
          label="3"
          class="lt-sm q-mr-md bg-grey-4"
        />

        <!-- <q-tab
          class="gt-xs"
          style="clip-path: polygon(0% 0%, 75% 0%, 80% 55%, 75% 100%, 0% 100%);"
          name="mineral"
          label="Mineral utilization"
          :class="[canClick3 ? '' : 'noClick', 'gt-xs']"
        /> -->
        <!-- <q-tab
          class="lt-sm"
          style="clip-path: polygon(0% 0%, 75% 0%, 80% 55%, 75% 100%, 0% 100%);"
          name="mineral"
          label="4"
          :class="[canClick3 ? '' : 'noClick', 'lt-sm']"
        /> -->
      </q-tabs>

      <div class="text-green" style="max-width:430px;display:flex">
        <small class=""
          ><q-icon name="info" size="xs" />If you want to update disabled field, update from
          <q-btn
            size="xs"
            to="/active-lisence"
            flat
            color="blue"
            dense
            label="licence"
          />
          page instead
        </small>
      </div>

      <q-separator />
      <!-- <q-form  @submit.prevent="onSubmit"> -->
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="personal">
          <div class="q-gutter-sm">
            <fieldset
              class="row justify-evenly q-pb-lg"
              style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
            >
              <legend
                style="color: #428bca;"
                class="text-body2 text-weight-bold"
              >
                Personal details
              </legend>
              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <label for="">Name*</label>
                <q-input
                  outlined
                  disable
                  v-model="formData.name"
                  dense
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  required
                >
                </q-input>
                <label for="">S/o, D/o*</label>
                <q-input
                  v-model="formData.sd"
                  color="teal"
                  dense
                  outlined
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
                <label for="">House No*</label>
                <q-input
                  v-model="formData.houseno"
                  outlined
                  color="teal"
                  dense
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
              </div>

              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <!-- <label for="">Last Name*</label>
                <q-input outlined dense color="teal" lazy-rules required>
                </q-input> -->
                <label for="">Village/Town*</label>
                <q-input
                  v-model="formData.village"
                  outlined
                  disable
                  color="teal"
                  dense
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
                <label for="">Mobile No.*</label>
                <q-input
                  v-model="formData.contact"
                  dense
                  disable
                  type="number"
                  color="teal"
                  outlined
                  :rules="[
                    val => (val && val.length == 10) || 'Maximum 10 digits'
                  ]"
                >
                </q-input>
                <label for="">Telephone No.*</label>
                <q-input
                  v-model="formData.telephone"
                  dense
                  type="number"
                  color="teal"
                  outlined
                  :rules="[
                    val => (val && val.length == 10) || 'Maximum 10 digits'
                  ]"
                >
                </q-input>
              </div>
            </fieldset>

            <fieldset
              class="row justify-evenly q-pb-lg"
              style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
            >
              <legend
                style="color: #428bca;"
                class="text-body2 text-weight-bold"
              >
                Sectors and mining details
              </legend>
              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <q-select
                  dense
                  outlined
                  v-model="formData.sector_type"
                  :options="options"
                  label="Choose sector*"
                  color="teal"
                  required
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                />

                <div v-if="formData.sector_type == 'individual'">
                  <!-- {{ formData.individual_nationality }} -->
                  <label for="">Nationality*</label>
                  <q-input
                    v-model="formData.individual_nationality"
                    color="teal"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Permanent Residency*</label>
                  <q-input
                    v-model="formData.individual_residency"
                    dense
                    outlined
                    color="teal"
                    label="Permanent Residency"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Qualification*</label>
                  <q-input
                    v-model="formData.individual_qualification"
                    color="teal"
                    dense
                    outlined
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <!-- <label for="">Contact*</label>
                  <q-input  v-model="formData.individual_contact" color="teal" dense outlined lazy-rules>
                  </q-input> -->
                </div>

                <div v-if="formData.sector_type == 'private'">
                  <label for="">Place of regd*</label>
                  <q-input
                    v-model="formData.private_regd_place"
                    color="teal"
                    dense
                    outlined
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  ></q-input>

                  <q-file
                    v-model="formData.private_certificate"
                    class="q-mt-md"
                    dense
                    color="teal"
                    label="Copy of regd"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <q-btn
                        @click="getExternalLink(private_regd_certificate)"
                        icon="visibility"
                        flat
                        dense
                        color="secondary"
                      ></q-btn>
                    </template>
                  </q-file>
                  <label for=""
                    >Nationality of members/Board of directors of company</label
                  >
                  <q-input
                    dense
                    outlined
                    color="teal"
                    v-model="formData.private_members_nationality"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div v-if="formData.sector_type == 'public'">
                  <label for="">Place of corporation*</label>
                  <q-input
                    v-model="formData.public_corporation_place"
                    color="teal"
                    dense
                    outlined
                    type="textarea"
                    rows="3"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>

                  <q-file
                    v-model="formData.public_certificate"
                    class="q-mt-md"
                    outlined
                    dense
                    color="teal"
                    label="Copy of certificate of incorporation"
                    required
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <q-btn
                        @click="
                          getExternalLink(public_incorporation_certificate)
                        "
                        icon="visibility"
                        flat
                        dense
                        color="secondary"
                      ></q-btn>
                    </template>
                  </q-file>

                  <label for="">Nationality of Directors*</label>
                  <q-input
                    v-model="formData.public_nationality"
                    color="teal"
                    dense
                    outlined
                    type="textarea"
                    rows="3"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div v-if="formData.sector_type == 'firm'">
                  <label for="">Nationality of partners*</label>
                  <q-input
                    v-model="formData.firm_nationality"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Members of association*</label>
                  <q-input
                    v-model="formData.firm_members"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                </div>

                <div v-if="formData.sector_type == 'cooperative'">
                  <label for="">Nationality of members*</label>
                  <q-input
                    v-model="formData.cooperative_nationality"
                    dense
                    outlined
                    color="teal"
                    type="textarea"
                    rows="3"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>
                  <label for="">Place of registration*</label>
                  <q-input
                    v-model="formData.cooperative_regd_place"
                    dense
                    outlined
                    color="teal"
                    lazy-rules
                    type="textarea"
                    rows="3"
                    :rules="[
                      val => (val && val.length > 0) || 'Please type something'
                    ]"
                  >
                  </q-input>

                  <q-file
                    v-model="formData.cooperative_certificate"
                    class="q-mt-md"
                    outlined
                    dense
                    color="teal"
                    label="Copy of certificate of registration"
                    required
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <q-btn
                        @click="getExternalLink(cooperative_certificate)"
                        icon="visibility"
                        flat
                        dense
                        color="secondary"
                      ></q-btn>
                    </template>
                  </q-file>
                </div>

                <label for="">profession of nature of business*</label>
                <q-input
                  v-model="formData.business_profession"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  type="textarea"
                  rows="3"
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
              </div>

              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <div class="col-md-6  col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                  <q-file
                    v-model="formData.mining_documents"
                    dense
                    color="teal"
                    label="Particulars of documents appended*"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>

                    <template v-slot:append>
                      <q-btn
                        @click="getExternalLink(mining_documents)"
                        icon="visibility"
                        flat
                        dense
                        color="secondary"
                      ></q-btn>
                    </template>
                  </q-file>
                </div>
                <div class="row">
                  <div class="col">
                    <span class="text-caption"
                      >(a) Mining dues clearance certificate or <br />
                      (b) Affidavit in lieu of mining dues clearance certificate
                      subject to the production of mining dues clearance
                      certificate within ninety days of making application, or
                      <br />(c) Affidavit when not holding any mining
                      lease.</span
                    >
                  </div>
                </div>

                <!-- <div class="col-md-6 col-sm-6 col-xs-12 col-lg-5"> -->
                <label for="">Minerals intented to mine*</label>
                <q-input
                  v-model="formData.minerals_intended"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  type="textarea"
                  rows="3"
                >
                </q-input>

                <label for=""
                  >Extent of the area in respect of mining lease
                  required*</label
                >
                <q-input
                  v-model="formData.area_extent"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  type="textarea"
                  rows="3"
                >
                </q-input>

                <label for="">Period of which mining lease is required*</label>
                <q-input
                  v-model="formData.mining_period"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  rows="3"
                >
                </q-input>

                <!-- <label for="">Details of the area*</label>
                <q-input
                  v-model="formData.area_details"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                   type="textarea"
                  rows="3"
                >
                </q-input> -->
                <!-- </div> -->
              </div>
            </fieldset>

            <q-btn
              color="secondary"
              @click="getSectors"
              icon-right="chevron_right"
              label="Next"
            />
          </div>
        </q-tab-panel>

        <q-tab-panel name="sectors">
          <div class="q-gutter-sm ">
            <fieldset
              class="row justify-evenly"
              style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
            >
              <legend
                style="color: #428bca;"
                class="text-body2 text-weight-bold"
              >
                Area details
              </legend>

              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <q-select
                  dense
                  outlined
                  disable
                  v-model="formData.district"
                  :options="districts"
                  label="Choose district*"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                />

                <label for="">Mouza(Subdivision/RD Block)*</label>
                <q-input
                  v-model="formData.mouza"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  type="textarea"
                  rows="3"
                >
                </q-input>

                <label for="">Village(or City/Town)*</label>
                <q-input
                  dense
                  v-model="formData.city_town"
                  type="textarea"
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  rows="3"
                >
                </q-input>
              </div>

              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <label for="">PLot/Dag No.(LSC/PP/Land Lease No etc)*</label>
                <q-input
                  dense
                  v-model="formData.plot_no"
                  type="textarea"
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  rows="3"
                >
                </q-input>

                <label for="">Areas(in Ha/Bigha/Sq.m)*</label>
                <q-input
                  dense
                  v-model="formData.areas"
                  type="textarea"
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  rows="3"
                >
                </q-input>

                <label for="">Ownership, Occupancy*</label>
                <q-input
                  dense
                  v-model="formData.ownership"
                  type="textarea"
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                  rows="3"
                >
                </q-input>
              </div>
            </fieldset>

            <div class="row">
              <q-toggle
                label="Is the area applied for lease is under forest?"
                v-model="formData.under_forest"
              />
            </div>

            <fieldset
              v-if="formData.under_forest"
              class="row justify-evenly q-mt-md"
              style="border: 1px solid #ddd;
                  background: #fff;
                  border-radius: 4px;
                  "
            >
              <legend
                style="color: #428bca;"
                class="text-body2 text-weight-bold"
              >
                Forest Description
              </legend>
              <div class="col-md-6 col-sm-4 col-xs-12 col-lg-3">
                <label for="">Forest Division, Block and Range*</label>
                <q-input
                  v-model="formData.forest_division"
                  color="teal"
                  dense
                  outlined
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>

                <q-toggle
                  v-model="formData.sanctuary"
                  class="q-mt-md"
                  label="Whether it forms part of a National Park/Wildlife Sanctuary?"
                />
              </div>
              <div class="col-md-6 col-sm-4 col-xs-12 col-lg-3">
                <label for="">Legal status of forest, whether reserved*</label>
                <q-input
                  v-model="formData.legal_status"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
                <label for="">Type and extent of vegetation in the area</label>
                <q-input
                  v-model="formData.area_extent"
                  color="teal"
                  dense
                  outlined
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
              </div>
            </fieldset>

            <q-btn
              color="secondary"
              @click="getDocuments"
              icon-right="chevron_right"
              label="Next"
            />
          </div>
        </q-tab-panel>

        <q-tab-panel name="documents">
          <div class="q-gutter-sm">
            <fieldset
              class="row justify-evenly q-pb-lg"
              style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
            >
              <legend
                style="color: #428bca;"
                class="text-body2 text-weight-bold"
              >
                Other Information
              </legend>
              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <label for="">Area hold under quarry lease*</label>
                <q-input
                  v-model="formData.already_hold_already"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  type="textarea"
                  rows="3"
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>

                <label for="">has applied for,but not granted*</label>
                <q-input
                  v-model="formData.already_applied_not_granted"
                  dense
                  outlined
                  color="teal"
                  type="textarea"
                  rows="3"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>

                <label for="">being applied for simultaneously*</label>
                <q-input
                  v-model="formData.applied_simultaneously"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  type="textarea"
                  rows="3"
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
              </div>

              <div class="col-md-6 col-sm-5 col-xs-12 col-lg-5">
                <q-file
                  v-model="formData.sketch_plan"
                  dense
                  color="teal"
                  label="Attach sketch plan*"
                  class="q-mb-md"
                  required
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>

                  <template v-slot:append>
                    <q-btn
                      @click="getExternalLink(sketch_plan)"
                      icon="visibility"
                      flat
                      dense
                      color="secondary"
                    ></q-btn>
                  </template>
                </q-file>

                <span class="q-mt-md">
                  <span class="text-bold">Note:</span> <br />
                  <div class="text-caption">
                    a) the area applied for lease together with boundary, if
                    any, of any other existing /mining lease in case the arca
                    applied for has any common point or line with the boundaries
                    of existing quarry lease <br />
                    <br />
                    (b) the dimensions of the lines forming the boundary area
                    and the bearing and distance of all mer points from any
                    important, prominent and fixed point or points
                    <br /><br />
                    (c) all important surface and natural features ( namely
                    roads, railways, wells, religious places cremation grounds,
                    Government establishment, streams etc)
                  </div>
                </span>
              </div>
            </fieldset>

            <fieldset
              class="row justify-evenly q-pb-lg"
              style="border: 1px solid #ddd;
                  margin: 0 2px 22px 0;
                  background: #fff;
                  border-radius: 4px;
                  "
            >
              <legend
                style="color: #428bca;"
                class="text-body2 text-weight-bold"
              >
                Sketch plan
              </legend>
              <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                <label for="">Captive use, location and industry*</label>
                <q-input
                  v-model="formData.captive_use"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  type="textarea"
                  rows="3"
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>

                <label for="">Financial resource of the applicant*</label>
                <q-input
                  v-model="formData.financial_resource"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  type="textarea"
                  rows="3"
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                <label for=""
                  >if for sale,whether mineral supplied in raw or after
                  processing</label
                >
                <q-input
                  v-model="formData.if_sale"
                  dense
                  outlined
                  color="teal"
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                >
                </q-input>
                <q-file
                  v-model="formData.other_particulars"
                  dense
                  class="q-mb-md q-mt-md"
                  color="teal"
                  label="Any other particulars which the applicant wishes to furnish"
                  required
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>

                  <template v-slot:append>
                    <q-btn
                      @click="getExternalLink(other_particulars)"
                      icon="visibility"
                      flat
                      dense
                      color="secondary"
                    ></q-btn>
                  </template>
                </q-file>

                <span class="text-caption"
                  >(a) Attested copy of Land-based document (LSC/PP/ Land Lease
                  etc.) <br />
                  (b) No Objection Certificate (NOC) from concerned
                  Local/Village Council <br />
                  (c) No Objection Certificate (NOC) from concerned Branch
                  YMA/YLA/MTP <br />
                  (d) No Objection Certificate (NOC) from concerned PWD
                  <br />
                  (e) Attested copy of EPIC Aadhaar Card of the applicant
                  <br />
                  (f) Two copies of recent Pasport-size Photo of the
                  applicant</span
                >
              </div>

              <!-- <div class="row q-mt-md"> -->
              <!-- <div class="col"> -->

              <!-- </div> -->
              <!-- </div> -->
            </fieldset>

            <div class="text-center">
              <div class="col">
                <q-btn
                  @click="onSubmit"
                  class="text-center"
                  label="Submit"
                  type="submit"
                  size="md"
                  color="secondary"
                />
              </div>
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
      <!-- </q-form> -->
    </div>
  </div>
</template>

<script>
export default {
  beforeCreate() {
    this.formData = {};
    this.$axios
      .get(this.$store.state.store.APP_URL + "minings/" + this.$route.params.id)
      .then(response => {
        console.log("created called", response.data);
        // console.log("response server", response.data);
        this.formData = response.data[0];

        this.sector_type = this.formData.sector_type;
        this.private_regd_certificate = this.formData.private_regd_certificate;
        this.public_incorporation_certificate = this.formData.public_incorporation_certificate;
        this.cooperative_certificate = this.formData.cooperative_certificate;
        this.mining_documents = this.formData.mining_documents;
        this.sketch_plan = this.formData.sketch_plan;
        this.other_particulars = this.formData.other_particulars;

        this.formData.private_regd_certificate = null;
        this.formData.public_incorporation_certificate = null;

        this.formData.cooperative_certificate = null;
        this.formData.mining_documents = null;
        this.formData.sketch_plan = null;
        this.formData.other_particulars = null;

        this.formData.under_forest
          ? (this.formData.under_forest = true)
          : (this.formData.under_forest = false);

        this.formData.sanctuary
          ? (this.formData.sanctuary = true)
          : (this.formData.sanctuary = false);
        // Object.assign(this.formData,response.data)
        console.log("formData0", this.formData);

        // console.log("formData1:", this.formData);
      });
  },

  data() {
    return {
      sector_type: "",
      private_regd_certificate: null,
      public_incorporation_certificate: null,
      cooperative_certificate: null,
      mining_documents: null,
      sketch_plan: null,
      other_particulars: null,
      dialog2: false,
      pdfFile: "",
      tab: "personal",
      blueModel: true,
      individual: null,
      model: null,
      options: ["individual", "private", "public", "firm", "cooperative"],
      formData: {},
      districts: [
        "Aizawl	",
        "Champhai",
        "Hnahthial",
        "Kolasib",
        "Khawzawl",
        "Lawngtlai",
        "Lunglei",
        "Mamit",
        "Saiha",
        "Saitual",
        "Serchhip",
        "Other"
      ]
    };
  },
  methods: {
   
    getExternalLink(data) {
      console.log(data);
      this.pdfFile = "http://127.0.0.1:8000/" + data;
      // return;
      this.dialog2 = true;
    },
    getSectors() {
      this.tab = "sectors";
    },
    getDocuments() {
      this.tab = "documents";
    },
    onFileChangeMiningDues(e) {
      let FormDt = new FormData();
      this.formData.mining_documents = e;
      FormDt.append("file", this.formData.mining_documents);
    },

    onFileChangeSketchPlan(e) {
      this.formData.sketch_plan = e;
    },
    onFileChangeOtherParticulars(e) {
      this.formData.other_particulars = e;
    },

    onFileChangePrivate(e) {
      this.formData.private_regd_certificate = e;
    },

    onFileChangePublic(e) {
      this.formData.public_incorporation_certificate = e;
    },

    onFileChangeCooperative(e) {
      this.formData.cooperative_certificate = e;
    },

    onSubmit() {
      let FormDatas = new FormData();

      for (let data in this.formData) {
        FormDatas.append(`${data}`, this.formData[data]);
      }

      FormDatas.append("_method", "PUT");

      this.$axios
        .post(
          this.$store.state.store.APP_URL + "minings/" + this.$route.params.id,
          FormDatas
        )
        .then(response => {
          this.$q.notify({
            message: "Applicant updated successfully",
            color: "green",
            position: "top",
            icon: "thumb_up"
          });
          this.$router.push("/applicants");
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red",
            position: "top",
            icon: "warning"
          });
          console.log("error", error.message);
        });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@media screen and (min-width: 600px) {
  .q-tab {
    padding-right: 50px;
    /* color: red; */
  }
}

label,
.q-toggle__label {
  color: #7d8b99;
}
.customtext {
  font-family: "Nunito", sans-serif;
}

span {
  color: #444;
}

.truncate {
  overflow: hidden;
  margin-top: 20px;
}
</style>

<style lang="sass" scoped>
.q-tab--active
  color: #ffffff !important
  background: #26A69A !important
</style>

<style>
.q-toggle__inner--truthy {
  color: #26a69a !important;
}
</style>
