<template>
  <div class="q-pa-md" style="max-width: 90rem;margin:0 auto">
    <div v-if="roles == 'admin'" class="row q-mb-md q-col-gutter-md justify">
      <q-btn
        @click.stop=""
        v-go-back.single
        flat
        dense
        icon="arrow_back"
        color="secondary"
        size="sm"
      />
      <div style="position: relative;" class="text-h5">Validate Licence</div>
    </div>
    <div
      v-if="roles == 'admin'"
      style="position: relative;"
      class="row q-mb-lg q-col-gutter-md justify"
    >
      <div class="col">
        <q-breadcrumbs>
          <q-breadcrumbs-el to="/dashboard" label="Home" />
          <q-breadcrumbs-el label="Validate Licence" />
        </q-breadcrumbs>
      </div>
    </div>

    <div class="row q-mt-xl q-col-gutter-md justify">
      <div class="col-sm-10 col-lg-6 col-xs-12">
        <q-input
          @keyup.enter="validateNow()"
          v-model="lisence_id"
          placeholder="Enter Lisence ID"
          dense
          outlined
          color="secondary"
          lazy-rules
        />
      </div>

      <div class="col-sm-10 col-lg-6 col-xs-12">
        <q-btn
          @click="validateNow()"
          label="Validate"
          color="orange"
          :disabled="lisence_id.length < 14"
        />
      </div>
    </div>
    <div class="row q-mt-md q-col-gutter-md justify">
      <q-dialog v-model="dialog">
        <q-card>
          <embed :src="pdfFile" width="500" height="500" />
        </q-card>
      </q-dialog>
      <div v-if="table" class="col-sm-10 col-lg-6 col-xs-12">
        <q-markup-table class="q-pa-sm">
          <div v-if="error">
            {{ error }}
          </div>
          <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-right">Lisene ID</th>
              <th class="text-right">Status</th>
              <th class="text-right">Expires on</th>
              <th class="text-right">File</th>
            </tr>
          </thead>
          <tbody v-if="!error">
            <tr>
              <td class="text-left">{{ lisence.name }}</td>
              <td class="text-right">{{ lisence.lisence_id }}</td>
              <td class="text-right">
                <q-badge :color="lisence.status == 'active' ? 'green' : 'red'">
                  {{ lisence.status }}
                </q-badge>
              </td>
              <td class="text-right">{{ lisence.expiry_date }}</td>
              <td class="text-right">
                <q-btn
                  flat
                  dense
                  @click="getExternalLink(lisence.file)"
                  icon="picture_as_pdf"
                  color="red"
                  size="sm"
                />
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
      <!-- <div class="col gate"></div> -->
    </div>
  </div>
</template>

<script>
const icon = "thumb_up";
export default {
  mounted() {
    this.roles = this.$store.state.store.userDetails.roles;
    console.log("roles : ", this.roles);
  },
  data() {
    return {
      table: false,
      lisence_id: "",
      error: null,
      lisence: {},
      error: null,
      dialog: false,
      pdfFile: null,
      roles: ""
    };
  },

  methods: {
    validateNow() {
      if (!this.lisence_id) return;
      this.error = null;
      this.lisence = {};
      this.table = true;
      this.$axios
        .get(this.$store.state.store.APP_URL + "lisence/" + this.lisence_id)
        .then(response => {
          console.log(response.data);
          this.lisence = response.data[0];
        })
        .catch(err => {
          console.log(err.message);
          this.error = "No data found";
          //  this.table = true;
        });
    },

    getExternalLink(data) {
      console.log(data);
      this.pdfFile = "http://127.0.0.1:8000/pdf/" + data;
      // return;
      this.dialog = true;
      // window.open(`http://127.0.0.1:8000/${data}`, "_blank");
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

th {
  font-weight: bold;
}

td:nth-child(2) {
  color: #26a69a;

  font-weight: bold;
}

.gate {
  background: url("https://icon-library.com/images/gate-icon/gate-icon-19.jpg");
  padding: 200px;
  /* top: 0px; */
  margin-bottom: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
</style>
