<template>
  <q-card
    style="max-width:500px;position: absolute; z-index:999; top: 140px; right:0"
    v-if="selected.length"
  >
    <q-card-section class="row items-center">
      <transition
        appear
        enter-active-class="animated fadeInUp"
        leave-active-class="animated bounceOut"
      >
        <q-btn
          outline
          color="light-blue-2"
          class="deleteBtn"
          :disable="!selected"
          icon="edit"
          @click="editLisence()"
          v-if="selected.length == 1"
          text-color="green-4"
        />
      </transition>

      <transition
        appear
        enter-active-class="animated fadeInUp"
        leave-active-class="animated bounceOut"
      >
        <q-btn
          outline
          class="q-ml-md deleteBtn"
          color="light-blue-2"
          :disable="!selected"
          icon="delete"
          @click="confirm = true"
          
          text-color="red-4"
        />
      </transition>

      <transition
        appear
        enter-active-class="animated fadeInUp"
        leave-active-class="animated bounceOut"
      >
        <q-btn
          class="q-ml-lg deleteBtn"
          label="Renew"
          color="orange editBtn"
          :disable="!selected"
          :to="{
            path: '/renew-lisence/' + selected[0].applicant_id,
            params: edit
          }"
          v-if="selected.length == 1"
        />
      </transition>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "Controls",
  props : ["controls"]
};
</script>

<style></style>
