<template>
  <div style="background-color: #f8f8f8;">
    <q-layout
      view="hHh Lpr lff"
      container
      style="min-height: 100vh"
      class="shadow-2 rounded-borders"
    >
      <q-header elevated class="bg-cyan-8">
        <q-toolbar>
          <q-btn
            v-if="roles == 'admin'"
            flat
            @click="drawer = !drawer"
            round
            dense
            icon="menu"
            class="topBurger"
          />
          <router-link
            style="text-decoration:none;color:rgb(236 227 227)"
            to="/dashboard"
          >
            <!-- <q-btn flat @click.stop="drawer = !drawer" round dense icon="menu" /> -->
            <q-toolbar-title>
              <q-avatar>
                <img
                  src="https://seeklogo.com/images/I/indian-government-logo-1C3F1925AA-seeklogo.com.png"
                />
              </q-avatar>
              DGM Mizoram</q-toolbar-title
            >
          </router-link>
          <q-space />
          <q-btn-dropdown
            v-if="roles == 'admin'"
            rounded
            flat
            icon="account_circle"
            color="white"
          >
            <q-list class="q-pa-sm">
              <q-item style="min-height: 0!important" to="/profile" clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Profile</q-item-label>
                </q-item-section>
              </q-item>

              <q-item style="min-height: 0!important" to="/admin" clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Roles</q-item-label>
                </q-item-section>
              </q-item>

              <q-item style="min-height: 0!important" @click="logout" clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Logout</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>

          <q-btn
            v-else
            dense
            color="green"
            @click="logout"
            label="Logout"
            icon="logout"
          />
        </q-toolbar>

        <!-- <q-space/> -->
      </q-header>

      <q-drawer
        style="min-height: 100vh;"
        v-if="roles == 'admin'"
        v-model="drawer"
        side="left"
        show-if-above
        :width="260"
        :breakpoint="400"
        bordered
        @click.capture="drawerClick"
        content-class="bg-grey-4"
      >
        <q-list style="color:#444444;" class="q-pa-sm" padding>
          <q-item to="/dashboard" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="orange-5" name="dashboard" />
            </q-item-section>

            <q-item-section>
              Dashboard
            </q-item-section>
          </q-item>

          <q-item to="/create-applicant" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="orange-10" name="add" />
            </q-item-section>

            <q-item-section>
              Create Applicant
            </q-item-section>
          </q-item>

          <q-item to="/active-lisence" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="green" name="extension" />
            </q-item-section>

            <q-item-section>
              Licences
            </q-item-section>
          </q-item>

          <q-item to="/validate-lisence" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="red" name="tag" />
            </q-item-section>

            <q-item-section>
              Validate Licence
            </q-item-section>
          </q-item>

          <q-item to="/applicants" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="blue-grey" name="people" />
            </q-item-section>

            <q-item-section>
              Records
            </q-item-section>
          </q-item>

          <q-item to="/admin" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="yellow-10" name="account_circle" />
            </q-item-section>

            <q-item-section>
              Roles
            </q-item-section>
          </q-item>
        </q-list>

        <div
          class="q-mini-drawer-hide absolute"
          style="top: 15px; right: -17px"
        >
          <q-btn
            dense
            round
            unelevated
            color="secondary"
            icon="chevron_left"
            @click="drawer = false"
          />
        </div>
        <!-- </q-scroll-area> -->
      </q-drawer>

      <q-list
        v-else
        style="color:#444444;min-height:100vh"
        class="q-pa-sm"
        padding
      >
        <q-item to="/validate-lisence" clickable v-ripple>
          <q-item-section avatar>
            <q-icon color="orange-5" name="dashboard" />
          </q-item-section>

          <q-item-section>
            Validate Licence
          </q-item-section>
        </q-item>
      </q-list>

      <q-page-container
        style="top: 0px;  
width: 100%;
    position:absolute;
"
      >
        <div class="backpanel"></div>
        <!-- <q-btn
          v-if="!drawer"
          class="q-ml-md q-mt-sm burger"
          style="position: fixed;z-index:2"
          flat
          color="green-6"
          @click.stop="toggleDrawer"
          round
          dense
          :icon="drawer ? '' : 'menu'"
        /> -->

        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<style>
/* @media screen and (max-width: 1500px) {
  .burger {
    display: none;
  }

} */
.q-item__section {
  overflow: hidden;
  white-space: nowrap;
}

.scroll {
  max-height: none !important;
}

/* .q-badge {
  margin-top: 16px;
  transform: rotate(320deg);
} */
.q-spinner-mat {
  left: -30px;
  position: relative;
}
.backpanel {
  background: linear-gradient(90deg, #b4cec9 40%, #827ef9 100%);
  height: 135px;
  position: absolute;
  padding: 30px;
  width: 100%;
}
</style>

<style lang="sass" scoped>
.q-item.q-router-link--active, .q-item--active
  color: #0097a7
  background: #bed9dc
  border-radius: 25px
</style>

<script>
import { mapActions } from "vuex";
import { mapState } from "vuex";
export default {
  beforeCreate() {
    if(this.$route.fullPath == '/')
      this.$router.push("/dashboard");
  

    this.$axios
      .get(this.$store.state.store.APP_URL + "user")
      .then(response => {
        this.roles = response.data.roles;
     
      })
      .catch(err => {
        console.log(err.message);
      });
  },
  data() {
    return {
      drawer: true,
      miniState: true,
      roles: ""
    };
  },

  methods: {
    ...mapActions("store", ["loginUser"]),
    toggleDrawer() {
      this.drawer = !this.drawer;
      console.log("clicked");
    },

    drawerClick(e) {
      // if in "mini" state and user
      // click on drawer, we switch it to "normal" mode
      if (this.miniState) {
        this.miniState = false;

        // notice we have registered an event with capture flag;
        // we need to stop further propagation as this click is
        // intended for switching drawer to "normal" mode only
        e.stopPropagation();
      }
    },

    toggleDrawer2() {
      this.drawer = false;
    },

    logout() {
      // localStorage.removeItem("token");

      // this.loginUser('test');

      this.$axios
        .post("http://127.0.0.1:8000/logout")
        .then(response => {
          this.$router.push("/login");
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
